<style>
  .breadcrumbs {
    margin: 0 0 2em;
  }

  .breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .breadcrumbs__item {
    display: inline-block;
  }

  .breadcrumbs__item:not(:last-child):after {
    content: '/';
    display: inline-block;
    margin: 0 .20em;
    position: relative;
    vertical-align: middle;
  }

  .breadcrumbs__link {
    text-decoration: underline;
  }

  .breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }

  .breadcrumbs__link[aria-current="page"]:hover,
  .breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
  }
</style>

{%- unless template == 'index' or template == 'cart' or template == '404' -%}
  {%- assign t = template | split: '.' | first -%}
  
  <nav class="breadcrumbs Breadcrumb_navigation_main_new" role="navigation" aria-label="breadcrumbs">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="/">Home</a>
      </li>
      {%- case t -%}
        {%- when 'page' -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" aria-current="page">{{ page.title }}</span>
          </li>
        {%- when 'product' -%}
          {%- if collection.url -%}
            <li class="breadcrumbs__item">
              {{ collection.title | link_to: collection.url }}
            </li>
          {%- endif -%}
          {% if product.metafields.custom.breadcrumbs.value.select_collections.value %}
            {% for relatedCollection in product.metafields.custom.breadcrumbs.value.select_collections.value %}
              <li class="breadcrumbs__item">
                <a href="{{  relatedCollection.url }}" class="breadcrumbs__link" aria-current="page">{{ relatedCollection.title }}</a>
              </li>
            {% endfor %}
          {% endif %}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" aria-current="page">{{ product.title }}</span>
          </li>
        {%- when 'collection' and collection.handle -%}
          {%- if current_tags -%}
            <li class="breadcrumbs__item">
              {{ collection.title | link_to: collection.url }}
            </li>
            <li class="breadcrumbs__item">
              {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
              <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__link" aria-current="page">{{ collection.title }}</span>
            </li>
          {%- endif -%}
        {%- when 'blog' -%}
          {%- if current_tags -%}
            <li class="breadcrumbs__item">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="breadcrumbs__item">
              {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
              <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__link" aria-current="page">{{ blog.title }}</span>
            </li>
          {%- endif -%}
        {%- when 'article' -%}
          <li class="breadcrumbs__item">
            {{ blog.title | link_to: blog.url }}
          </li>
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" aria-current="page">{{ article.title }}</span>
          </li>
        {%- when 'search' -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" aria-current="page">Search</span>
          </li>
        {%- else -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" aria-current="page">{{ page_title }}</span>
          </li>
      {%- endcase -%}
    </ol>
  </nav>
{%- endunless -%}

