{% assign show_accordion =  true %}
{%- for block in section.blocks -%}
  {%- if block.type == "image_logo_text" -%}
    {% assign show_extra_info =  true %}
  {% endif %}
{% endfor %}

{% if show_extra_info %}
<div class="image_logo_text_blocks flex">
  {%- for block in section.blocks -%}
    {%- if block.type == "image_logo_text" -%}
    <div class="image_logo_items {{ block.settings.class }}">
      <a href="{{ block.settings.image_logo_url }}" class="image_logo">
        {%- if block.settings.image_logo != blank -%}
        <div class="image_logo_bottom">
          <img src="{{ block.settings.image_logo |  image_url: width: " 43x" }}" alt="KALKI Image">
        </div>
        {%- endif -%}
        {%- if block.settings.text_bottom != blank -%}
        <div class="bottom_text">{{ block.settings.text_bottom }}</div>
        {%- endif -%}
        {%- if block.settings.text_bottom_no_return != blank -%}
          <div class="bottom_text hide">{{ block.settings.text_bottom_no_return }}</div>
        {%- endif -%}
      </a>
    </div>
    {%- endif -%}
  {%- endfor -%}
</div>
{% endif %}