<div class=" options-dropdown-list">
    {% if product.metafields.custom.additionalwork_extop !=blank %}
      <div class="additional-options-wrapper">
        <label for="additional-title">Neckline Length:</label>
        <div class="aditional-cost">
          <select id="main_aditional">
            <option value="" selected disabled hidden>Please Select</option>
            {% for additional in product.metafields.custom.additionalwork_extop.value %}
              {% assign split_additional = additional | split: ":" %}
              <option value="{{ split_additional[1] | strip | remove: "₹" }}" data-aditionals="{{ split_additional[1] | strip | remove: "₹"  }}">{{ split_additional[0] | strip }} : {{ split_additional[1] | strip }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}
  {% if product.metafields.custom.embroidery_extop !=blank %}
    <div class="additional-options-wrapper">
      <label for="embroidery-title">Cover Slit:</label>
      <div class="embroidery-cost aditional-cost">
        <select id="main_embroidery">
          <option value="" selected disabled hidden>Please Select</option>
          {% for embroidery in product.metafields.custom.embroidery_extop.value %}
            {% assign split_embroidery = embroidery | split: ":" %}
            <option value="{{ split_embroidery[1] | strip | remove: "₹" }}" data-embroidery="{{ split_embroidery[1] | strip | remove: "₹" }}"> {{ split_embroidery[0] | strip }} : {{ split_embroidery[1] | strip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.shoulder_strap !=blank %}
    <div class="additional-options-wrapper">
      <label for="embroidery-title">Shoulder Strap:</label>
      <div class="embroidery-cost aditional-cost">
        <select id="main_embroidery">
          <option value="" selected disabled hidden>Please Select</option>
          {% for embroidery in product.metafields.custom.shoulder_strap.value %}
            {% assign split_embroidery = embroidery | split: ":" %}
            <option value="{{ split_embroidery[1] | strip | remove: "₹" }}" data-embroidery="{{ split_embroidery[1] | strip | remove: "₹" }}"> {{ split_embroidery[0] | strip }} : {{ split_embroidery[1] | strip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.dd_test !=blank %}
    <div class="additional-options-wrapper">
      <label for="embroidery-title">Cover Cut Out:</label>
      <div class="embroidery-cost aditional-cost">
        <select id="main_embroidery">
          <option value="" selected disabled hidden>Please Select</option>
          {% for embroidery in product.metafields.custom.dd_test.value %}
            {% assign split_embroidery = embroidery | split: ":" %}
            <option value="{{ split_embroidery[1] | strip | remove: "₹" }}" data-embroidery="{{ split_embroidery[1] | strip | remove: "₹" }}"> {{ split_embroidery[0] | strip }} : {{ split_embroidery[1] | strip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.blouse_length !=blank %}
    <div class="additional-options-wrapper">
      <label for="embroidery-title">Blouse Length:</label>
      <div class="embroidery-cost aditional-cost">
        <select id="main_embroidery">
          <option value="" selected disabled hidden>Please Select</option>
          {% for embroidery in product.metafields.custom.blouse_length.value %}
            {% assign split_embroidery = embroidery | split: ":" %}
            <option value="{{ split_embroidery[1] | strip | remove: "₹" }}" data-embroidery="{{ split_embroidery[1] | strip | remove: "₹" }}"> {{ split_embroidery[0] | strip }} : {{ split_embroidery[1] | strip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.sleeve_length !=blank %}
    <div class="additional-options-wrapper">
      <label for="embroidery-title">Sleeve Length:</label>
      <div class="embroidery-cost aditional-cost">
        <select id="main_embroidery">
          <option value="" selected disabled hidden>Please Select</option>
          {% for embroidery in product.metafields.custom.sleeve_length.value %}
            {% assign split_embroidery = embroidery | split: ":" %}
            <option value="{{ split_embroidery[1] | strip | remove: "₹" }}" data-embroidery="{{ split_embroidery[1] | strip | remove: "₹" }}"> {{ split_embroidery[0] | strip }} : {{ split_embroidery[1] | strip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.length_waist_to_floor_including_heels !=blank %}
    <div class="additional-options-wrapper">
      <label for="embroidery-title">Length (Waist to Floor including heels):</label>
      <div class="embroidery-cost aditional-cost">
        <select id="main_embroidery">
          <option value="" selected disabled hidden>Please Select</option>
          {% for embroidery in product.metafields.custom.length_waist_to_floor_including_heels.value %}
            {% assign split_embroidery = embroidery | split: ":" %}
            <option value="{{ split_embroidery[1] | strip | remove: "₹" }}" data-embroidery="{{ split_embroidery[1] | strip | remove: "₹" }}"> {{ split_embroidery[0] | strip }} : {{ split_embroidery[1] | strip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.select_your_height_including_heels !=blank %}
    <div class="additional-options-wrapper">
      <label for="embroidery-title">Select Your Height (Including heels):</label>
      <div class="embroidery-cost aditional-cost">
        <select id="main_embroidery">
          <option value="" selected disabled hidden>Please Select</option>
          {% for embroidery in product.metafields.custom.select_your_height_including_heels.value %}
            {% assign split_embroidery = embroidery | split: ":" %}
            <option value="{{ split_embroidery[1] | strip | remove: "₹" }}" data-embroidery="{{ split_embroidery[1] | strip | remove: "₹" }}"> {{ split_embroidery[0] | strip }} : {{ split_embroidery[1] | strip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
</div>