<div class=" options-dropdown-list">
    {% if product.metafields.custom.additionalwork_extop !=blank %}
      <div class="additional-options-wrapper">
        <label for="additional-title">Additionalwork Cost:</label>
        <div class="aditional-cost">
          <select id="main_aditional">
            <option value="" selected disabled hidden>Please Select</option>
            {% for additional in product.metafields.custom.additionalwork_extop.value %}
              {% assign split_additional = additional | split: ":" %}
              <option value="{{ split_additional[1] | strip | remove: "₹" }}" data-aditionals="{{ split_additional[1] | strip | remove: "₹"  }}">{{ split_additional[0] | strip }} : {{ split_additional[1] | strip }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endif %}
  {% if product.metafields.custom.embroidery_extop !=blank %}
    <div class="additional-options-wrapper">
      <label for="embroidery-title">Embroidery Cost:</label>
      <div class="embroidery-cost aditional-cost">
        <select id="main_embroidery">
          <option value="" selected disabled hidden>Please Select</option>
          {% for embroidery in product.metafields.custom.embroidery_extop.value %}
            {% assign split_embroidery = embroidery | split: ":" %}
            <option value="{{ split_embroidery[1] | strip | remove: "₹" }}" data-embroidery="{{ split_embroidery[1] | strip | remove: "₹" }}"> {{ split_embroidery[0] | strip }} : {{ split_embroidery[1] | strip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  {% if product.metafields.custom.shoulder_strap !=blank %}
    <div class="additional-options-wrapper">
      <label for="embroidery-title">{{ product.metafields.custom.shoulder_strap.key }}</label>
      <div class="embroidery-cost aditional-cost">
        <select id="main_embroidery">
          <option value="" selected disabled hidden>Please Select</option>
          {% for item in product.metafields.custom.shoulder_strap.value %}
            {% assign split_item = item | split: ":" %}
            <option value="{{ split_item[1] | strip | remove: "₹" }}" data-embroidery="{{ split_item[1] | strip | remove: "₹" }}"> {{ split_item[0] | strip }} : {{ split_item[1] | strip }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
</div>