{{ 'customer.css' | asset_url | stylesheet_tag }}
{% if customer %}
  <script>
   if (window.location.pathname === '/account/register') {
    window.location.href = '/account';
   }
  </script>
{% endif %}
<div class="Customer_register_template_main_new" style="background: {{ section.settings.main_background_color }};">
  <div class="Customer_register_template_inner_new">
    {%- if section.settings.main_heading_text != blank or section.settings.main_information_text != blank or section.settings.main_use_code_text != blank -%}
      <div class="Customer_register_template_mainleft_new Customer_register_template_mainleft_new_{{ section.id }}" style="{% if section.settings.main_desktop_full_image != blank %}background: url({{ section.settings.main_desktop_full_image | img_url: 'master' }}) no-repeat center center; background-size: cover;{% else %}background: #cccccc;{% endif %}">
        {%- if section.settings.main_mobile_full_image != blank -%}
          <style>
            @media(min-width:0px) and (max-width:768px){
              .Customer_register_template_mainleft_new_{{ section.id }}{
                background: url({{ section.settings.main_mobile_full_image | img_url: 'master' }}) no-repeat center center !important;
                background-size: cover !important;
                min-height: 230px;
              }
            }
          </style>
        {%- endif -%}
        <div class="Customer_register_template_innerleft_new">
          {%- if section.settings.main_heading_text != blank -%}
            <div class="Customer_register_template_innerleft_title_new">
              <div>{{ section.settings.main_heading_text }}</div>
            </div>  
          {%- endif -%}
          {%- if section.settings.main_information_text != blank -%}
            <div class="Customer_register_template_innerleft_texts_new">
              <h3>{{ section.settings.main_information_text }}</h3>
            </div>  
          {%- endif -%}
          {%- if section.settings.main_use_code_text != blank -%}
            <div class="Customer_register_template_innerleft_infos_new">
              <h4>{{ section.settings.main_use_code_text }}</h4>
            </div>  
          {%- endif -%}
        </div>
        <div class="Customer_register_template_innerleft_apply_new">
          *T&C Apply
        </div>
      </div>
    {%- endif -%}
    <div class="Customer_register_template_mainright_new">
      <div class="customer register Customer_register_template_innerright_new">
        <svg style="display: none">
          <symbol id="icon-error" viewBox="0 0 13 13">
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </symbol>
        </svg>
        <div class="Customer_register_template_innerright_titleinfos_new">
          <div class="Customer_register_template_innerright_titleinfos_title_new">
            <span class="h1">{{ 'customer.register.title' | t }}</span>
          </div>
          {%- if section.settings.main_right_information_text_1 != blank -%}
            <div class="Customer_register_template_innerright_titleinfos_infos_new">
              {{ section.settings.main_right_information_text_1 }}
            </div>  
          {%- endif -%}
        </div>
        <div class="Customer_register_template_innerright_mainform_new">
          <div class="Customer_register_template_innerright_innerform_new">
            {%- form 'create_customer' -%}
                {%- if form.errors -%}
                  {% comment %}
                  <h2 class="form__message" tabindex="-1" autofocus>
                    <svg aria-hidden="true" focusable="false">
                      <use href="#icon-error" />
                    </svg>
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h2>
                  {% endcomment %}
                  <div class="errors">
                    <ul>
                      {%- for field in form.errors -%}
                        <li>
                          {%- if field == 'form' -%}
                            {{ form.errors.messages[field] }}
                          {%- else -%}
                            <a href="#RegisterForm-{{ field }}">
                              {{ form.errors.translated_fields[field] | capitalize }}
                              {{ form.errors.messages[field] }}
                            </a>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
              <div class="field FirstName">
                <input
                  type="text"
                  name="customer[first_name]"
                  id="RegisterForm-FirstName"
                  {% if form.first_name %}
                    value="{{ form.first_name }}"
                  {% endif %}
                  autocomplete="given-name"
                  placeholder="{{ 'customer.register.first_name' | t }}"
                  required
                  onkeydown="return /[a-zA-Z]/i.test(event.key)"
                >
                <label for="RegisterForm-FirstName">
                  {{ 'customer.register.first_name' | t }}
                </label>
              </div>
              <div class="field LastName">
                <input
                  type="text"
                  name="customer[last_name]"
                  id="RegisterForm-LastName"
                  {% if form.last_name %}
                    value="{{ form.last_name }}"
                  {% endif %}
                  autocomplete="family-name"
                  placeholder="{{ 'customer.register.last_name' | t }}"
                  required
                  onkeydown="return /[a-zA-Z]/i.test(event.key)"
                >
                <label for="RegisterForm-LastName">
                  {{ 'customer.register.last_name' | t }}
                </label>
              </div>
              <div class="field email">
                <input
                  type="email"
                  name="customer[email]"
                  id="RegisterForm-email"
                  {% if form.email %}
                    value="{{ form.email }}"
                  {% endif %}
                  spellcheck="false"
                  autocapitalize="off"
                  autocomplete="email"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-email-error"
                  {% endif %}
                  placeholder="{{ 'customer.register.email' | t }}"
                  required
                >
                <label for="RegisterForm-email">
                  {{ 'customer.register.email' | t }}
                </label>
              </div>


                <div class="field Phonenumber">
                <input
                  type="tel"
                  name="customer[note][Phone Number]"
                  id="RegisterForm-number"
                  value=""
                  aria-required="true"
                  placeholder="Phone Number*"
                  required
                  pattern="[0-9]{10}"
                  title="Please enter valid phone number">
                
                <label for="RegisterForm-number">
                  Phone Number*
                </label>
              </div>
              
              {%- if form.errors contains 'email' -%}
                <span id="RegisterForm-email-error" class="form__message">
                  <svg aria-hidden="true" focusable="false">
                    <use href="#icon-error" />
                  </svg>
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}.
                </span>
              {%- endif -%}
              <div class="field password">
                <input
                  type="password"
                  name="customer[password]"
                  id="RegisterForm-password"
                  aria-required="true"
                  {% if form.errors contains 'password' %}
                    aria-invalid="true"
                    aria-describedby="RegisterForm-password-error"
                  {% endif %}
                  placeholder="{{ 'customer.register.password' | t }}"
                  required
                >
                <label for="RegisterForm-password">
                  {{ 'customer.register.password' | t }}
                </label>
                <label for="register_show_password_1">
                  <input type="checkbox" id="register_show_password_1" js-show-password>
                  <div class="show_password_text_new"></div>
                </label>
              </div>
              {%- if form.errors contains 'password' -%}
                <span id="RegisterForm-password-error" class="form__message">
                  <svg aria-hidden="true" focusable="false">
                    <use href="#icon-error" />
                  </svg>
                  {{ form.errors.translated_fields.password | capitalize }}
                  {{ form.errors.messages.password }}.
                </span>
              {%- endif -%}

                <div class="field Dateofbirth">
               
                  <!-- <input type="dateofbirth" form="cart" id="dateofbirth" name="dateofbirth"  placeholder="Date of Birth*" >  -->
                  <input
      type="date" 
      id="course-date-{{ section.id }}"
      class="required date_picker__input"
      name="properties[Kursdatum]"
      form="{{ product_form_id }}"
      required
    />
                
                <label for="dateofbirth">
                  Date of Birth*
                </label>
              </div>
                      
              <button class="button submit_btn_new registerbtn">
                {{ 'customer.register.submit' | t }}
              </button>

              {%- if section.settings.main_right_information_text_2 != blank -%}
                <div class="Customer_register_template_innerright_bottominfos_infos_1_new">
                  {{ section.settings.main_right_information_text_2 }}
                </div>  
              {%- endif -%}
            {%- endform -%}
          </div>
        </div>
        {%- if section.settings.main_right_information_text_3 != blank -%}
          <div class="Customer_register_template_innerright_bottominfos_new">
            <div class="Customer_register_template_innerright_bottominfos_infos_2_new">
              {{ section.settings.main_right_information_text_3 }}
            </div>  
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>                  

{% schema %}
  {
    "name": "Customer Register Temp",
    "class": "Customer_register_template_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "richtext",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "<p>Register &amp; Be A Part Of The <br>KALKI Circle!</p>"
      },
      {
        "type": "textarea",
        "id": "main_information_text",
        "label": "Add Main Information Text",
        "default": "Flat 15% Off on your first order*"
      },
      {
        "type": "text",
        "id": "main_use_code_text",
        "label": "Add Main Use Code Text",
        "default": "Use Code: GLAM15"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_full_image",
        "label": "Add Main Desktop Full Image"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_full_image",
        "label": "Add Main Mobile Full Image"
      },
      {
        "type": "richtext",
        "id": "main_right_information_text_1",
        "label": "Add Main Right Information Text-1",
        "default": "<p>Welcome to Kalki! It's quick and easy to set up an account.</p>"
      },
      {
        "type": "richtext",
        "id": "main_right_information_text_2",
        "label": "Add Main Right Information Text-2",
        "default": "<p>By continuing, I agree to the Terms of Use and Privacy Policy</p>"
      },
      {
        "type": "richtext",
        "id": "main_right_information_text_3",
        "label": "Add Main Right Information Text-3",
        "default": "<p>Already Have an Account?  Sign In</p>"
      }
    ]
  }
{% endschema %}