{%- if shop.metaobjects.faq_page_list_select.values -%}
  <div class="FAQs_detail_page_template_main_new" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      <div class="FAQs_detail_page_template_inner_new">
        {%- if shop.metaobjects.faq_page_list_select.values -%}
          <div class="FAQs_detail_page_template_mainleftright_new">
            <div class="FAQs_detail_page_template_innerleftright_new">
              {%- if shop.metaobjects.faq_page_list_select.values -%}
                <div class="FAQs_detail_page_template_mainleft_new">
                  {%- if section.settings.main_back_redirect_link != blank -%}
                    <div class="FAQs_detail_page_template_backbutton_new">
                      <a href="{{ section.settings.main_back_redirect_link }}">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 4L2 12L10 20" stroke="#0F0D1A" stroke-width="1.2" stroke-linecap="round"/><path d="M2 12H24" stroke="#0F0D1A" stroke-width="1.2"/></svg>
                      </a>
                    </div>
                  {%- endif -%}
                  <div class="FAQs_detail_page_template_innerleft_new">
                    <ul>
                      {%- for custom in shop.metaobjects.faq_page_list_select.values -%}
                        {%- for custom in custom.faq_page_list_select.value -%}
                          {%- if custom.page_title.value != blank -%}
                            <li><a href="{{ custom.system.url }}" class="{% if custom.page_title.value == metaobject.page_title.value %}active{% endif %}">{{ custom.page_title.value }} ({{ custom.question_counter.value }})</a></li>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
              {%- endif -%}
              <div class="FAQs_detail_page_template_mainright_new">
                <div class="FAQs_detail_page_template_innerright_new">
                  {%- if metaobject.icon.value != blank or metaobject.page_title.value != blank -%}
                    <div class="FAQs_detail_page_template_innerright_1_new">
                      <div class="FAQs_detail_page_template_innerright_1_detail_new">
                        {%- if metaobject.icon.value != blank -%}
                          <div class="FAQs_detail_page_template_innerright_1_detail_icons_new">
                            {{
                              metaobject.icon.value | 
                              image_url: width: img.width | 
                              image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                              fetchpriority: 'auto', 
                              class:'Icon_image_new'
                            }}
                          </div>
                        {%- endif -%}
                        {%- if metaobject.page_title.value != blank -%}
                          <div class="FAQs_detail_page_template_innerright_1_detail_title_new">
                            <h3>{{ metaobject.page_title.value }}</h3>
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if section.settings.main_question_text != blank or section.settings.main_mp4_video != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank -%}
                    <div class="FAQs_detail_page_template_innerright_2_new">
                      <div class="FAQs_detail_page_template_innerright_2_detail_new">
                        {%- if section.settings.main_question_text != blank -%}
                          <div class="FAQs_detail_page_template_innerright_2_detail_question_new">
                            {{ section.settings.main_question_text }}
                          </div>
                        {%- endif -%}
                        {%- if section.settings.main_mp4_video != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank -%}
                          <div class="FAQs_detail_page_template_innerright_2_detail_mainvideoimage_new">
                            <div class="FAQs_detail_page_template_innerright_2_detail_innervideoimage_new">
                              {%- if section.settings.main_mp4_video != blank -%}
                                <div class="FAQs_detail_page_template_innerright_2_detail_videoimage_new">
                                  {{ section.settings.main_mp4_video | video_tag: controls: false, autoplay: true, loop: true }}
                                </div>
                              {% else %}  
                                {%- if section.settings.main_desktop_image != blank and section.settings.main_mobile_image != blank -%}
                                  <div class="FAQs_detail_page_template_innerright_2_detail_videoimage_new">
                                    {%- if section.settings.main_desktop_image != blank -%}
                                      {{
                                        section.settings.main_desktop_image | 
                                        image_url: width: img.width | 
                                        image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                        fetchpriority: 'auto', 
                                        class:'desktop_image_new'
                                      }}
                                    {%- endif -%}
                                    {%- if section.settings.main_mobile_image != blank -%}
                                      {{
                                        section.settings.main_mobile_image | 
                                        image_url: width: img.width | 
                                        image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                        fetchpriority: 'auto', 
                                        class:'mobile_image_new'
                                      }}
                                    {%- endif -%}
                                  </div>
                                {%- endif -%}
                              {%- endif -%}
                            </div>
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- endif -%}
                  {%- if section.blocks.size > 0 -%}
                    <div class="FAQs_detail_page_template_innerright_3_new">
                      <div class="FAQs_detail_page_template_innerright_3_detail_new Common_faqs_accordion_new">
                        <div class="accordion">
                          <ul class="list-unstyled">
                            {%- for block in section.blocks -%}
                              {%- if block.settings.title != blank or block.settings.infos != blank or block.settings.image != blank or block.settings.infos_2 != blank or block.settings.image_3 != blank or block.settings.infos_3 != blank -%}
                                <li>
                                  {%- if block.settings.title != blank -%}
                                    <div class="question">
                                      <h2>{{ block.settings.title }}</h2>
                                    </div>
                                  {%- endif -%}
                                  {%- if block.settings.infos != blank or block.settings.image != blank or block.settings.infos_2 != blank or block.settings.image_3 != blank or block.settings.infos_3 != blank -%}
                                    <div class="answer">
                                      {{ block.settings.infos }}
                                      {%- if block.settings.image != blank -%}
                                        <div class="faq_image_new first_image_{{ block.id }}">
                                          {{
                                            block.settings.image | 
                                            image_url: width: img.width | 
                                            image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048' , 
                                            fetchpriority: 'auto'
                                          }}
                                          <style>
                                            .first_image_{{ block.id }}{ padding-bottom:10px; } 
                                            .first_image_{{ block.id }} img{ max-width:{{ block.settings.image_size }}px; }
                                          </style>
                                        </div>
                                      {%- endif -%}
                                      {%- if block.settings.infos_2 != blank -%}
                                        {{ block.settings.infos_2 }}
                                      {%- endif -%}
                                      {%- if block.settings.image_3 != blank -%}
                                        <div class="faq_image_new first_image_{{ block.id }}">
                                          {{
                                            block.settings.image_3 | 
                                            image_url: width: img.width | 
                                            image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                            fetchpriority: 'auto'
                                          }}
                                          <style>
                                            .first_image_{{ block.id }}{ padding-bottom:10px; } 
                                            .first_image_{{ block.id }} img{ max-width:{{ block.settings.image_size_2 }}px; }
                                          </style>
                                        </div>
                                      {%- endif -%}
                                      {%- if block.settings.infos_3 != blank -%}
                                        {{ block.settings.infos_3 }}
                                      {%- endif -%}
                                    </div>
                                  {%- endif -%}
                                </li>
                              {%- endif -%}
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "FAQs Detail Page Template",
    "class": "FAQs_detail_page_template_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "url",
        "id": "main_back_redirect_link",
        "label": "Add Main Back Redirect Link",
        "default": "/"
      },
      {
        "type": "richtext",
        "id": "main_question_text",
        "label": "Add Main Question Text",
        "default": "<p>Add a video Question ?</p>"
      },
      {
        "type": "video",
        "id": "main_mp4_video",
        "label": "Add Main MP4 Video"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image",
        "label": "Add Main Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image",
        "label": "Add Main Mobile Image"
      }
    ],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Add Main Question Text",
            "default": "Question"
          },
          {
            "type": "richtext",
            "id": "infos",
            "label": "Add Main Answer Text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Add Image",
            "info": "Optional"
          },
          {
            "type": "number",
            "id": "image_size",
            "label": "Image size",
            "info": "Image Size in PX"
          },
          {
            "type": "richtext",
            "id": "infos_2",
            "label": "Add Image Description",
            "info": "Optional"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Add Image 2",
            "info": "Optional"
          },
          {
            "type": "number",
            "id": "image_size_2",
            "label": "Image size",
            "info": "Image Size in PX"
          },
          {
            "type": "richtext",
            "id": "infos_3",
            "label": "Add Image Description",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQs Detail Page Template"
      }
    ]
  }
{% endschema %}