{%- if section.settings.main_heading_text != blank or section.settings.main_mp4_video_1 != blank or section.settings.main_desktop_image_1 != blank or section.settings.main_mobile_image_1 != blank or section.settings.main_mp4_video_2 != blank or section.settings.main_desktop_image_2 != blank or section.settings.main_mobile_image_2 != blank or section.settings.main_mp4_video_3 != blank or section.settings.main_desktop_image_3 != blank or section.settings.main_mobile_image_3 != blank or section.settings.main_mp4_video_4 != blank or section.settings.main_desktop_image_4 != blank or section.settings.main_mobile_image_4 != blank or section.settings.main_information_text != blank or section.settings.main_sub_heading_text != blank or section.settings.main_button_link != blank -%}
  <div class="Index_arrivals_details_main_new" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      {%- if section.settings.main_heading_text != blank -%}
        <div class="Common_title_new Index_arrivals_details_title_new">
          <h2>{{ section.settings.main_heading_text }}</h2>
        </div>
      {%- endif -%}
      {%- if section.settings.main_mp4_video_1 != blank or section.settings.main_desktop_image_1 != blank or section.settings.main_mobile_image_1 != blank or section.settings.main_mp4_video_2 != blank or section.settings.main_desktop_image_2 != blank or section.settings.main_mobile_image_2 != blank or section.settings.main_mp4_video_3 != blank or section.settings.main_desktop_image_3 != blank or section.settings.main_mobile_image_3 != blank or section.settings.main_mp4_video_4 != blank or section.settings.main_desktop_image_4 != blank or section.settings.main_mobile_image_4 != blank or section.settings.main_information_text != blank or section.settings.main_sub_heading_text != blank or section.settings.main_button_link != blank -%}
        <div class="Index_arrivals_details_inner_new" style="background: {{ section.settings.inner_background_color }};">        
          <div class="Index_arrivals_details_mainleftright_new">
            <div class="Index_arrivals_details_innerleftright_new">
              {%- if section.settings.main_mp4_video_1 != blank or section.settings.main_desktop_image_1 != blank or section.settings.main_mobile_image_1 != blank or section.settings.main_mp4_video_2 != blank or section.settings.main_desktop_image_2 != blank or section.settings.main_mobile_image_2 != blank or section.settings.main_mp4_video_3 != blank or section.settings.main_desktop_image_3 != blank or section.settings.main_mobile_image_3 != blank or section.settings.main_mp4_video_4 != blank or section.settings.main_desktop_image_4 != blank or section.settings.main_mobile_image_4 != blank -%}
                <div class="Index_arrivals_details_mainleft_new">
                  <div class="Index_arrivals_details_innerleft_new">
                    {%- if section.settings.main_mp4_video_1 != blank or section.settings.main_desktop_image_1 != blank or section.settings.main_mobile_image_1 != blank -%}
                      <div class="Index_arrivals_details_innerleft_1_new">
                        <div class="Index_arrivals_details_innerleft_1_leftside_new">
                          <div class="Index_arrivals_details_innerleft_1_leftside_videoimageboth_new">
                            {%- if section.settings.main_mp4_video_1 != blank -%}
                              <div class="Index_arrivals_details_innerleft_1_leftside_videoimage_new lazy-load-section">
                                <template>
                                  <video playsinline="playsinline" autoplay="autoplay" loop="loop" muted="muted" preload="metadata" poster="{{ section.settings.main_mp4_video_1.preview_image.src | img_url: '700x' }}" alt="{{ section.settings.main_desktop_image_1.alt }}">
                                    <source src="{{ section.settings.main_mp4_video_1.sources[1].url }}" type="video/mp4">
                                  </video>
                                </template>
                              </div>
                            {% else %}  
                              {%- if section.settings.main_desktop_image_1 != blank and section.settings.main_mobile_image_1 != blank -%}
                                <div class="Index_arrivals_details_innerleft_1_leftside_videoimage_new">
                                  {%- if section.settings.main_desktop_image_1 != blank -%}
                                    {{
                                      section.settings.main_desktop_image_1 | 
                                      image_url: width: img.width | 
                                      image_tag: widths: '540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                      fetchpriority: 'auto', 
                                      class:'desktop_image_new',
                                      alt:section.settings.main_desktop_image_1
                                    }}
                                  {%- endif -%}
                                  {%- if section.settings.main_mobile_image_1 != blank -%}
                                    {{
                                      section.settings.main_mobile_image_1 | 
                                      image_url: width: img.width | 
                                      image_tag: widths: '540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                      fetchpriority: 'auto', 
                                      class:'mobile_image_new',
                                    alt:section.settings.main_desktop_image_1
                                    }}
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                            {%- endif -%}
                          </div>
                        </div>
                      </div>
                    {%- endif -%}
                    {%- if section.settings.main_mp4_video_2 != blank or section.settings.main_desktop_image_2 != blank or section.settings.main_mobile_image_2 != blank or section.settings.main_mp4_video_3 != blank or section.settings.main_desktop_image_3 != blank or section.settings.main_mobile_image_3 != blank or section.settings.main_mp4_video_4 != blank or section.settings.main_desktop_image_4 != blank or section.settings.main_mobile_image_4 != blank -%}
                      <div class="Index_arrivals_details_innerleft_2_new">
                        <div class="Index_arrivals_details_innerleft_2_rightside_new">
                          {%- if section.settings.main_mp4_video_2 != blank or section.settings.main_desktop_image_2 != blank or section.settings.main_mobile_image_2 != blank -%}
                            <div class="Index_arrivals_details_innerleft_2_rightside_1_new">
                              <div class="Index_arrivals_details_innerleft_2_rightside_1_toppart_new">
                                <div class="Index_arrivals_details_innerleft_2_rightside_1_toppart_videoimageboth_new">
                                  {%- if section.settings.main_mp4_video_2 != blank -%}
                                    <div class="Index_arrivals_details_innerleft_2_rightside_1_toppart_videoimage_new">
                                      {{ section.settings.main_mp4_video_2 | video_tag: controls: false, autoplay: true, loop: true }}
                                    </div>
                                  {% else %}  
                                    {%- if section.settings.main_desktop_image_2 != blank and section.settings.main_mobile_image_2 != blank -%}
                                      <div class="Index_arrivals_details_innerleft_2_rightside_1_toppart_videoimage_new">
                                        {%- if section.settings.main_desktop_image_2 != blank -%}
                                          {{
                                            section.settings.main_desktop_image_2 | 
                                            image_url: width: img.width | 
                                            image_tag: widths: '540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                            fetchpriority: 'auto', 
                                            class:'desktop_image_new',
                                          alt:section.settings.main_desktop_image_2
                                          }}
                                        {%- endif -%}
                                        {%- if section.settings.main_mobile_image_2 != blank -%}
                                          {{
                                            section.settings.main_mobile_image_2 | 
                                            image_url: width: img.width | 
                                            image_tag: widths: '540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                            fetchpriority: 'auto', 
                                            class:'mobile_image_new',
                                          alt:section.settings.main_mobile_image_2
                                          }}
                                        {%- endif -%}
                                      </div>
                                    {%- endif -%}
                                  {%- endif -%}
                                </div>
                              </div>
                            </div>
                          {%- endif -%}
                          {%- if section.settings.main_mp4_video_3 != blank or section.settings.main_desktop_image_3 != blank or section.settings.main_mobile_image_3 != blank or section.settings.main_mp4_video_4 != blank or section.settings.main_desktop_image_4 != blank or section.settings.main_mobile_image_4 != blank -%}
                            <div class="Index_arrivals_details_innerleft_2_rightside_2_new">
                              <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_new">
                                {%- if section.settings.main_mp4_video_3 != blank or section.settings.main_desktop_image_3 != blank or section.settings.main_mobile_image_3 != blank -%}
                                  <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_1_new">
                                    <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_1_leftside_new">
                                      <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_1_leftside_videoimageboth_new">
                                        {%- if section.settings.main_mp4_video_3 != blank -%}
                                          <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_1_leftside_videoimage_new">
                                            {{ section.settings.main_mp4_video_3 | video_tag: controls: false, autoplay: true, loop: true }}
                                          </div>
                                        {% else %}  
                                          {%- if section.settings.main_desktop_image_3 != blank and section.settings.main_mobile_image_3 != blank -%}
                                            <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_1_leftside_videoimage_new">
                                              {%- if section.settings.main_desktop_image_3 != blank -%}
                                                {{
                                                  section.settings.main_desktop_image_3 | 
                                                  image_url: width: img.width | 
                                                  image_tag: widths: '540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                                  fetchpriority: 'auto', 
                                                  class:'desktop_image_new',
                                                alt:section.settings.main_desktop_image_3
                                                }}
                                              {%- endif -%}
                                              {%- if section.settings.main_mobile_image_3 != blank -%}
                                                {{
                                                  section.settings.main_mobile_image_3 | 
                                                  image_url: width: img.width | 
                                                  image_tag: widths: '540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                                  fetchpriority: 'auto', 
                                                  class:'mobile_image_new',
                                                alt:section.settings.main_mobile_image_3
                                                }}
                                              {%- endif -%}
                                            </div>
                                          {%- endif -%}
                                        {%- endif -%}
                                      </div>
                                    </div>
                                  </div>
                                {%- endif -%}
                                {%- if section.settings.main_mp4_video_4 != blank or section.settings.main_desktop_image_4 != blank or section.settings.main_mobile_image_4 != blank -%}
                                  <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_2_new">
                                    <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_2_rightside_new">
                                      <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_2_rightside_videoimageboth_new">
                                        {%- if section.settings.main_mp4_video_4 != blank -%}
                                          <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_2_rightside_videoimage_new">
                                            {{ section.settings.main_mp4_video_4 | video_tag: controls: false, autoplay: true, loop: true }}
                                          </div>
                                        {% else %}  
                                          {%- if section.settings.main_desktop_image_4 != blank and section.settings.main_mobile_image_4 != blank -%}
                                            <div class="Index_arrivals_details_innerleft_2_rightside_2_bottompart_2_rightside_videoimage_new">
                                              {%- if section.settings.main_desktop_image_4 != blank -%}
                                                {{
                                                  section.settings.main_desktop_image_4 | 
                                                  image_url: width: img.width | 
                                                  image_tag: widths: '540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                                  fetchpriority: 'auto', 
                                                  class:'desktop_image_new',
                                                alt:section.settings.main_desktop_image_4
                                                }}
                                              {%- endif -%}
                                              {%- if section.settings.main_mobile_image_4 != blank -%}
                                                {{
                                                  section.settings.main_mobile_image_4 | 
                                                  image_url: width: img.width | 
                                                  image_tag: widths: '540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                                  fetchpriority: 'auto', 
                                                  class:'mobile_image_new',
                                                alt:section.settings.main_mobile_image_4
                                                }}
                                              {%- endif -%}
                                            </div>
                                          {%- endif -%}
                                        {%- endif -%}
                                      </div>
                                    </div>
                                  </div>
                                {%- endif -%}
                              </div>
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
              {%- if section.settings.main_information_text != blank or section.settings.main_sub_heading_text != blank or section.settings.main_button_link != blank -%}
                <div class="Index_arrivals_details_mainright_new">
                  <div class="Index_arrivals_details_innerright_new">
                    {%- if section.settings.main_information_text != blank -%}
                      <div class="Index_arrivals_details_innerright_infos_new">
                        {{ section.settings.main_information_text }}
                      </div>  
                    {%- endif -%}
                    {%- if section.settings.main_sub_heading_text != blank -%}
                      <div class="Index_arrivals_details_innerright_title_new">
                        <h2>{{ section.settings.main_sub_heading_text }}</h2>
                      </div>  
                    {%- endif -%}
                    {%- if section.settings.main_button_text != blank and section.settings.main_button_link != blank -%}
                      <div class="Index_arrivals_details_innerright_button_new">
                        <a href="{{ section.settings.main_button_link }}" class="button button_white">
                          {{ section.settings.main_button_text }}
                        </a>
                      </div>  
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>

  <script>
    const video = document.querySelector("video");
    const videoImg = document.querySelector("video img");
    if (video) {
      video.setAttribute("alt", "saree video");
    }
    if (videoImg) {
      videoImg.setAttribute("alt", "saree video");
    }
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "Index Arrivals Details",
    "class": "Index_arrivals_details_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "inner_background_color",
        "label": "Add Inner Background Color",
        "default": "#FFF6F2"
      },
      {
        "type": "text",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "New Arrivals"
      },
      {
        "type": "header",
        "content": "===== Left Side Details ====="
      },
      {
        "type": "header",
        "content": "== Left Side Left Detail-1 =="
      },
      {
        "type": "video",
        "id": "main_mp4_video_1",
        "label": "Add Main MP4 Video-1"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image_1",
        "label": "Add Main Desktop Image-1"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image_1",
        "label": "Add Main Mobile Image-1"
      },
      {
        "type": "header",
        "content": "== Left Side Right Detail-1 =="
      },
      {
        "type": "video",
        "id": "main_mp4_video_2",
        "label": "Add Main MP4 Video-2"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image_2",
        "label": "Add Main Desktop Image-2"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image_2",
        "label": "Add Main Mobile Image-2"
      },
      {
        "type": "header",
        "content": "== Left Side Right Detail-2 =="
      },
      {
        "type": "video",
        "id": "main_mp4_video_3",
        "label": "Add Main MP4 Video-3"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image_3",
        "label": "Add Main Desktop Image-3"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image_3",
        "label": "Add Main Mobile Image-3"
      },
      {
        "type": "header",
        "content": "== Left Side Right Detail-3 =="
      },
      {
        "type": "video",
        "id": "main_mp4_video_4",
        "label": "Add Main MP4 Video-4"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image_4",
        "label": "Add Main Desktop Image-4"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image_4",
        "label": "Add Main Mobile Image-4"
      },
      {
        "type": "header",
        "content": "===== Right Side Details ====="
      },
      {
        "type": "richtext",
        "id": "main_information_text",
        "label": "Add Main Information Text",
        "default": "<p>just in</p>"
      },
      {
        "type": "text",
        "id": "main_sub_heading_text",
        "label": "Add Main Sub Heading Text"
      },
      {
        "type": "text",
        "id": "main_button_text",
        "label": "Add Main Button Text",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "main_button_link",
        "label": "Add Main Button Link",
        "default": "/"
      }
    ],
    "presets": [
      {
        "name": "Index Arrivals Details"
      }
    ]
  }
{% endschema %}