{%- if section.blocks.size > 0 -%}
  <link rel="preload" href="{{ 'index-icon-text-info-list.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'index-icon-text-info-list.css' | asset_url }}"></noscript>
  <div class="Index_icon_text_info_list_main_new">
    <div class="page-width">
      {% assign main_desktop_full_image = section.settings.main_desktop_full_image  | image_url %}
      {% assign main_mobile_full_image = section.settings.main_mobile_full_image  | image_url %}
      <div class="Index_icon_text_info_list_inner_new Index_icon_text_info_list_main_new_{{ section.id }}" style="{% if section.settings.main_desktop_full_image != blank %}background: url('{%- render 'gumlet', src: main_desktop_full_image w: 1440 %}') no-repeat center center; background-size: cover;{% else %}background: {{ section.settings.main_background_color }};{% endif %}">
        {%- if section.settings.main_mobile_full_image != blank -%}
          <style>
            @media(min-width:0px) and (max-width:749px){
              .Index_icon_text_info_list_main_new_{{ section.id }}{
                background: url('{%- render 'gumlet', src: main_mobile_full_image w: 720 %}') no-repeat center center !important;
                background-size: cover !important;
              }
            }
          </style>
        {%- endif -%}
        <div class="Index_icon_text_info_list_allloop_new">
          {%- for block in section.blocks -%}
            {%- if block.settings.main_icon_image != blank or block.settings.title != blank or block.settings.main_information_text != blank or block.settings.main_button_link != blank -%}
              <div class="Index_icon_text_info_list_allloop_mainboxs_new">
                <div class="Index_icon_text_info_list_allloop_innerboxs_new">
                  <div>
                    {%- if block.settings.main_icon_image != blank -%}
                      <div class="Index_icon_text_info_list_allloop_innerboxs_icons_new">
                        {% assign main_icon_image = block.settings.main_icon_image  | image_url %}
                        <img class="Icon_image_new" src="{%- render 'gumlet', src: main_icon_image w: 50 %}" alt="{{ block.settings.title }}" loading="lazy" width="50" height="51" />
                      </div>
                    {%- endif -%}
                    {%- if block.settings.title != blank -%}
                      <div class="Index_icon_text_info_list_allloop_innerboxs_title_new">
                        <h2>{{ block.settings.title }}</h2>
                      </div>
                    {%- endif -%}
                    {%- if block.settings.main_information_text != blank -%}
                      <div class="Index_icon_text_info_list_allloop_innerboxs_infos_new">
                        {{ block.settings.main_information_text }}
                      </div>
                    {%- endif -%}
                  </div>
                  {%- if block.settings.main_button_text != blank and block.settings.main_button_link != blank -%}
                    <div class="Index_icon_text_info_list_allloop_innerboxs_button_new">
                      <a href="{{ block.settings.main_button_link }}" class="button button_white">
                        {{ block.settings.main_button_text }}
                      </a>
                    </div>  
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Index Icon Text Info List",
    "class": "Index_icon_text_info_list_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#EFEFEF"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_full_image",
        "label": "Add Main Desktop Full Image"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_full_image",
        "label": "Add Main Mobile Full Image"
      }
    ],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "limit": 2,
        "settings": [
          {
            "type": "image_picker",
            "id": "main_icon_image",
            "label": "Add Main Icon Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Add Main Heading Text",
            "default": "Lorem Ipsum is simply dummy"
          },
          {
            "type": "richtext",
            "id": "main_information_text",
            "label": "Add Main Information Text",
            "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>"
          },
          {
            "type": "text",
            "id": "main_button_text",
            "label": "Add Main Button Text",
            "default": "Shop Now"
          },
          {
            "type": "url",
            "id": "main_button_link",
            "label": "Add Main Button Link",
            "default": "/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Index Icon Text Info List",
        "blocks": [
          {
            "type": "information"
          },
          {
            "type": "information"
          }
        ]
      }
    ]
  }
{% endschema %}