{%- if section.blocks.size > 0 -%}
  {{ 'index-top-banner.css' | asset_url | stylesheet_tag: preload: true }}
  <div class="Index_top_banner_slider_main_new page-width" style="background: {{ section.settings.main_background_color }};">
    <div class="Index_top_banner_slider_inner_new">
      <div class="Index_top_banner_slider_allloop_new">
        <div class="swiper-container {% if section.blocks.size > 1 %} Index_top_banner_slider {% endif %}">
          <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              {%- if block.settings.main_desktop_mp4_video != blank or block.settings.main_mobile_mp4_video != blank or block.settings.main_desktop_full_image != blank or block.settings.main_mobile_full_image != blank -%}
                <div class="swiper-slide Index_top_banner_slider_allloop_mainboxs_new">
                  <div class="Index_top_banner_slider_allloop_innerboxs_new">
                    {%- if block.settings.main_banner_redirect_link != blank -%}
                      <a href="{{ block.settings.main_banner_redirect_link }}">
                    {%- endif -%}
                        <div class="Index_top_banner_slider_allloop_innerboxs_videoimageboth_new ">
                          {%- if block.settings.main_desktop_mp4_video != blank and block.settings.main_mobile_mp4_video != blank -%}
                            <div class="Index_top_banner_slider_allloop_innerboxs_videoimage_new">
                              {%- if block.settings.main_desktop_mp4_video != blank -%}
                                {{ block.settings.main_desktop_mp4_video | video_tag: controls: false, autoplay: true, loop: true, class: 'desktop_image_new' }}
                              {%- endif -%}
                              {%- if block.settings.main_mobile_mp4_video != blank -%}
                                {{ block.settings.main_mobile_mp4_video | video_tag: controls: false, autoplay: true, loop: true, class: 'mobile_image_new' }}
                              {%- endif -%}
                            </div>
                          {% else %}  
                            {%- if block.settings.main_desktop_full_image != blank and block.settings.main_mobile_full_image != blank -%}
                              <div class="Index_top_banner_slider_allloop_innerboxs_videoimage_new">
                                {% assign main_desktop_image = block.settings.main_desktop_full_image  | image_url %}
                                {% assign main_mobile_image = block.settings.main_mobile_full_image  | image_url %}
                                {%- if forloop.first %}
                                  <picture>
                                    <source srcset="{%- render 'imagekit', src: main_mobile_image width: 380 %}" media="(max-width: 380px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_mobile_image width: 412 %}" media="(max-width: 412px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_mobile_image width: 500 %}" media="(max-width: 500px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_mobile_image width: 750 %}" media="(max-width: 748px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_desktop_image width: 1024 %}" media="(max-width: 1024px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_desktop_image width: 1200 %}" media="(max-width: 1200px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_desktop_image width: 1350 %}" media="(max-width: 1350px)" type="image/avif" />
                                    <img class="image_first_slide" src="{%- render 'imagekit', src: main_desktop_image width: 1480 %}" alt="{{ block.settings.alt_text }}" loading="eager" width="1438" height="539" fetchpriority="high" decoding="async" />
                                  </picture>
                                {%- else -%}
                                  <picture>
                                    <source srcset="{%- render 'imagekit', src: main_mobile_image width: 380 %}" media="(max-width: 380px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_mobile_image width: 412 %}" media="(max-width: 412px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_mobile_image width: 500 %}" media="(max-width: 500px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_mobile_image width: 750 %}" media="(max-width: 748px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_desktop_image width: 1024 %}" media="(max-width: 1024px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_desktop_image width: 1200 %}" media="(max-width: 1200px)" type="image/avif" />
                                    <source srcset="{%- render 'imagekit', src: main_desktop_image width: 1350 %}" media="(max-width: 1350px)" type="image/avif" />
                                    <img src="{%- render 'imagekit', src: main_desktop_image width: 1480 %}" alt="{{ block.settings.alt_text }}" loading="lazy" width="1438" height="539" fetchpriority="low" decoding="async" />
                                  </picture>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          {%- endif -%}
                        </div>
                    {%- if block.settings.main_banner_redirect_link != blank -%}
                      </a>
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
          {% if section.blocks.size > 1 %}
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      new Swiper('.Index_top_banner_slider',{loop:!0,grabCursor:!1,spaceBetween:0,slidesPerViewidth:1,watchSlidesProgress:!0,draggable:!0,autoHeight:!1,watchOverflowidth:!0,threshold:10,mousewheel:{forceToAxis:!0},navigation:{nextEl:".swiper-button-next",prevEl:".swiper-button-prev",},pagination:{el:".swiper-pagination",clickable:"true"},autoplay:{delay:5000,disableOnInteraction:!1,}})
    });
  </script>
{%- endif -%}  

{% schema %}
  {
    "name": "Index Top Banner Slider",
    "class": "Index_top_banner_slider_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      }
    ],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "video",
            "id": "main_desktop_mp4_video",
            "label": "Add Main Desktop MP4 Video"
          },
          {
            "type": "video",
            "id": "main_mobile_mp4_video",
            "label": "Add Main Mobile MP4 Video"
          },
          {
            "type": "image_picker",
            "id": "main_desktop_full_image",
            "label": "Add Main Desktop Full Image"
          },
          {
            "type": "image_picker",
            "id": "main_mobile_full_image",
            "label": "Add Main Mobile Full Image"
          },
          {
            "type": "text",
            "id": "alt_text",
            "label": "Add Alt text"
          },
          {
            "type": "url",
            "id": "main_banner_redirect_link",
            "label": "Add Main Banner Redirect Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Index Top Banner Slider",
        "blocks": [
          {
            "type": "information"
          },
          {
            "type": "information"
          }
        ]
      }
    ]
  }
{% endschema %}