{%- if section.blocks.size > 0 -%}
  {{ 'index-round-column-list.css' | asset_url | stylesheet_tag: preload: true }}
  <div class="Index_round_column_list_main_new {{ section.settings.customClass }}" style="background: {{ section.settings.main_background_color }}; min-height: 156px;" x-data="{ isMobile: window.innerWidth <= 749 }">
    <template x-if="isMobile">
      <div class="Index_round_column_list_inner_new">
      {%- if section.blocks.size > 0 -%}
        <div class="page-width">
          <div class="Index_round_column_list_1_new">
            <div class="Index_round_column_list_1_allloop_new">
              {%- for block in section.blocks -%}
                {%- if block.type == 'texts_with_links' -%}
                  {%- if block.settings.title != blank -%}
                    <div class="Index_round_column_list_1_allloop_mainboxs_new{% if block.settings.activation %} active{% endif %}">
                      <div class="Index_round_column_list_1_allloop_innerboxs_new">
                        <a href="{{ block.settings.redirect }}" style="color:{{ block.settings.title_color }};">
                          {{ block.settings.title }}
                        </a>
                      </div>
                    </div>
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      {%- endif -%}
      {%- if section.blocks.size > 0 -%}
        <div class="Index_round_column_list_2_new">
          <div class="Index_round_column_list_2_allloop_new">
            <div class="swiper-container Index_round_column_slider">
              <div class="swiper-wrapper">
                {%- for block in section.blocks -%}
                  {%- if block.type == 'image_with_text_column' -%}
                    {%- if block.settings.image != blank and block.settings.title != blank -%}
                      <div class="swiper-slide Index_round_column_list_2_allloop_mainboxs_new">
                        <div class="Index_round_column_list_2_allloop_innerboxs_new">
                          <a href="{{ block.settings.redirect }}">
                            {%- if block.settings.image != blank -%}
                              <div class="Index_round_column_list_2_allloop_innerboxs_image_new">
                                {% assign mainImage = block.settings.image  | image_url %}
                                <img class="Full_image_new" src="{%- render 'gumlet', src: mainImage w: 60 %}" alt="{{ block.settings.title }}" loading="lazy" width="60" height="60" />
                              </div>
                            {%- endif -%}
                            {%- if block.settings.title != blank -%}
                              <div class="Index_round_column_list_2_allloop_innerboxs_title_new">
                                <p>{{ block.settings.title }}</p>
                              </div>
                            {%- endif -%}
                          </a>
                        </div>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
    </template>
  </div>
  {%- if page.handle contains 'bridal-wedding-dresses' -%}
    {% style %}
      .Bridal_coll_round_column_list_new {
        margin: 0;
        background: rgba(0, 0, 0, 0.47) !important;
        position: absolute;
        width: 100%;
        z-index: 1;
      }
      .Bridal_coll_round_column_list_new .Index_round_column_list_2_new {
        display: none;
      }
      .Bridal_coll_round_column_list_new
        .Index_round_column_list_1_allloop_innerboxs_new
        a {
        padding: 14px;
        color: #f6f6f9;
      }
      .Bridal_coll_round_column_list_new
        .Index_round_column_list_1_allloop_mainboxs_new {
        border-bottom: 2px solid transparent;
      }
      .Bridal_coll_round_column_list_new
        .Index_round_column_list_1_allloop_mainboxs_new.active {
        border-bottom: 2px solid #fff;
        background: none;
      }
      .template--bridal-wedding-dress-new .Bridal_coll_round_column_list_new {
        min-height: auto !important;
      }
    {% endstyle %}  
  {% endif %}
{%- endif -%}   

{% schema %}
  {
    "name": "Index Round Column List",
    "class": "Index_round_column_list_new",
    "settings": [
      {
        "type": "textarea",
        "id": "customClass",
        "label": "Add Custom Class",
        "info": "Bridal_coll_round_column_list_new"
      },
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      }
    ],
    "blocks": [
      {
        "type": "texts_with_links",
        "name": "Texts With Links",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Add Main Heading Text",
            "default": "Heading"
          },
          {
            "type": "url",
            "id": "redirect",
            "label": "Add Main Redirect Link",
            "default": "/"
          },
          {
            "type": "checkbox",
            "id": "activation",
            "label": "Add Main Active Class",
            "default": false
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Add Heading Color"
          }
        ]
      },
      {
        "type": "image_with_text_column",
        "name": "Image With Text Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Add Main Mobile Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Add Main Heading Text",
            "default": "Heading"
          },
          {
            "type": "url",
            "id": "redirect",
            "label": "Add Main Redirect Link",
            "default": "/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Index Round Column List",
        "blocks": [
          {
            "type": "texts_with_links"
          },
          {
            "type": "texts_with_links"
          },
          {
            "type": "texts_with_links"
          },
          {
            "type": "texts_with_links"
          },
          {
            "type": "image_with_text_column"
          },
          {
            "type": "image_with_text_column"
          },
          {
            "type": "image_with_text_column"
          },
          {
            "type": "image_with_text_column"
          }
        ]
      }
    ]
  }
{% endschema %}