{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'readMore.css' | asset_url | stylesheet_tag }}
<script src="{{ 'sticky-filter.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'readMore.js' | asset_url }}" defer="defer"> </script>

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<script src="{{ 'ajax-pagination.js' | asset_url }}" defer></script>
<script src="{{ 'collection-pagination.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% if canonical_url contains "limit" %}
  {% assign productsLimit = canonical_url | split: 'limit=' | last %}
  {% assign products_per_page = productsLimit %}
{% else %}
  {% assign productsLimit = section.settings.products_per_page %}
  {% assign products_per_page = section.settings.products_per_page %}
{% endif %}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }} Collection_product_grid_main_new" js-main-collection data-section-id="{{ section.id }}">
  {%- paginate collection.products by products_per_page -%}
    
    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %} Collection_product_grid_inner_new">
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <div id="sideNav">
              <div class="active-facets-vertical-filter" id="custom-active-facets">                
                  <h3
                    class="facets__heading facets__heading--vertical caption-large text-body"
                    id="verticalTitle"
                    tabindex="-1"
                  >
                    {{ 'products.facets.filter_by_label' | t }}
                  </h3>
                
              </div>
            <div class="collection_left_new">
              <div class="scrolling-element-inside"  >
          <aside
            aria-labelledby="verticalTitle"
            class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %} Collection_product_grid_leftside_new"
            id="main-collection-filters"
            data-id="{{ section.id }}"
          >
            {% render 'facets',
              results: collection,
              enable_filtering: section.settings.enable_filtering,
              enable_sorting: section.settings.enable_sorting,
              filter_type: section.settings.filter_type,
              paginate: paginate
            %}
          </aside>
          

          {%- if section.settings.main_mp4_video_1 != blank or section.settings.main_desktop_image_1 != blank or section.settings.main_mobile_image_1 != blank or section.settings.main_heading_text_1 != blank or section.settings.main_information_text_1 != blank or section.settings.main_icon_image_1 != blank or section.settings.main_button_link_1 != blank -%}
            <div class="Collection_product_grid_leftside_1_new">
              <div class="Collection_product_grid_leftside_1_bottom_new">
                {%- if section.settings.main_mp4_video_1 != blank or section.settings.main_desktop_image_1 != blank or section.settings.main_mobile_image_1 != blank -%}
                  <div class="Collection_product_grid_leftside_1_bottom_1_new">
                    <div class="Collection_product_grid_leftside_1_bottom_1_videoimageboth_new">
                      {%- if section.settings.main_mp4_video_1 != blank -%}
                        <div class="Collection_product_grid_leftside_1_bottom_1_videoimage_new">
                          {{ section.settings.main_mp4_video_1 | video_tag: controls: false, autoplay: true, loop: true }}
                        </div>
                      {% else %}  
                        {%- if section.settings.main_desktop_image_1 != blank and section.settings.main_mobile_image_1 != blank -%}
                          <div class="Collection_product_grid_leftside_1_bottom_1_videoimage_new">
                            {%- if section.settings.main_desktop_image_1 != blank -%}
                              {{
                                section.settings.main_desktop_image_1 | 
                                image_url: width: img.width | 
                                image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                fetchpriority: 'auto', 
                                class:'desktop_image_new'
                              }}
                            {%- endif -%}
                            {%- if section.settings.main_mobile_image_1 != blank -%}
                              {{
                                section.settings.main_mobile_image_1 | 
                                image_url: width: img.width | 
                                image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                fetchpriority: 'auto', 
                                class:'mobile_image_new'
                              }}
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
                {%- if section.settings.main_heading_text_1 != blank or section.settings.main_information_text_1 != blank or section.settings.main_icon_image_1 != blank or section.settings.main_button_link_1 != blank -%}
                  <div class="Collection_product_grid_leftside_1_bottom_2_new" style="{% if section.settings.main_background_image_1 != blank %}background: url({{ section.settings.main_background_image_1 | img_url: 'master' }}) no-repeat center center; background-size: cover;{% else %}background: {{ section.settings.main_background_color_1 }};{% endif %}">
                    <div class="Collection_product_grid_leftside_1_bottom_2_titlebuttonboth_new">
                      {%- if section.settings.main_heading_text_1 != blank -%}
                        <div class="Collection_product_grid_leftside_1_bottom_2_title_new">
                          <h2>{{ section.settings.main_heading_text_1 }}</h2>
                        </div>  
                      {%- endif -%}
                      {%- if section.settings.main_information_text_1 != blank -%}
                        <div class="Collection_product_grid_leftside_1_bottom_2_infos_new">
                          {{ section.settings.main_information_text_1 }}
                        </div>
                      {%- endif -%}
                      {%- if section.settings.main_icon_image_1 != blank -%}
                        <div class="Collection_product_grid_leftside_1_bottom_2_icons_new">
                          {{
                            section.settings.main_icon_image_1 | 
                            image_url: width: img.width | 
                            image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                            fetchpriority: 'auto', 
                            class:'Icon_image_new'
                          }}
                        </div>
                      {%- endif -%}
                      {%- if section.settings.main_button_text_1 != blank and section.settings.main_button_link_1 != blank -%}
                        <div class="Collection_product_grid_leftside_1_bottom_2_button_new">
                          <a href="{{ section.settings.main_button_link_1 }}" class="button button_white black_bg_button">
                            {{ section.settings.main_button_text_1 }}
                          </a>
                        </div>  
                      {%- endif -%}
                    </div>
                  </div>  
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}

          {%- if section.settings.main_icon_image_2 != blank or section.settings.main_heading_text_2 != blank -%}
            <div class="Collection_product_grid_leftside_2_new">
              <div class="Collection_product_grid_leftside_2_bottom_new">
                {%- if section.settings.main_icon_image_2 != blank -%}
                  <div class="Collection_product_grid_leftside_2_bottom_icons_new">
                    {{
                      section.settings.main_icon_image_2 | 
                      image_url: width: img.width | 
                      image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                      fetchpriority: 'auto', 
                      class:'Icon_full_image_new'
                    }}
                  </div>
                {%- endif -%}
                {%- if section.settings.main_heading_text_2 != blank -%}
                  <div class="Collection_product_grid_leftside_2_bottom_title_new">
                    <p>{{ section.settings.main_heading_text_2 }}</p>
                  </div>
                {%- endif -%}
                {%- if section.settings.btn_text_2 != blank -%}
                  <div class="Collection_product_grid_leftside_2_bottom_btn">
                    <a href="{{ section.settings.add_shipping_url }}">{{ section.settings.btn_text_2 }}</a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          {%- if section.settings.main_icon_image_3 != blank or section.settings.main_heading_text_3 != blank -%}
            <div class="Collection_product_grid_leftside_2_new">
              <div class="Collection_product_grid_leftside_2_bottom_new">
                {%- if section.settings.main_icon_image_3 != blank -%}
                  <div class="Collection_product_grid_leftside_2_bottom_icons_new">
                    {{
                      section.settings.main_icon_image_3 | 
                      image_url: width: img.width | 
                      image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                      fetchpriority: 'auto', 
                      class:'Icon_full_image_new'
                    }}
                  </div>
                {%- endif -%}
                {%- if section.settings.main_heading_text_3 != blank -%}
                  <div class="Collection_product_grid_leftside_2_bottom_title_new">
                    <p>{{ section.settings.main_heading_text_3 }}</p>
                  </div>
                {%- endif -%}
                {%- if section.settings.add_return_url != blank -%}
                  <div class="Collection_product_grid_leftside_2_bottom_btn">
                    <a href="{{ section.settings.add_return_url }}">{{ section.settings.btn_text_3 }}</a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
        </div>
            </div>
        </div>
      {%- endif -%}
      

      <div
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} Collection_product_grid_rightside_new"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
          <div class="Collection_product_grid_rightside_maintop_new">
            <div class="Collection_product_grid_rightside_innertop_new">
              <div class="Collection_product_grid_rightside_innertop_1_new">
                <div class="Collection_product_grid_rightside_innertop_1_detail_new">
                  <div class="Collection_product_grid_rightside_innertop_1_detail_title_new">
                    <h1>
                      {% if collection.metafields.custom.collection_custom_title.value != blank %}
                        {{ collection.metafields.custom.collection_custom_title.value }}
                      {% else %}
                        {{ collection.title }}
                      {% endif %}
                    </h1>
                  </div>
                  {% if collection.metafields.custom.collection_custom_title_description_new.value != blank %}
                    <div class="collection_custom_title_description_new" >
                    
                    <div class="read-more-container">
                        {% assign description = collection.metafields.custom.collection_custom_title_description_new %}
                        {% assign words = description | split: ' ' %}
                    
                        {% if words.size > 40 %}
                          <p class="read-more-content" data-full-text="{{ description | escape }}">
                            {{ words | slice: 0, 40 | join: ' ' }}...
                          </p>
                          <button class="read-more-button">Read more</button>
                        {% else %}
                          <p class="read-more-content" data-full-text="{{ description | escape }} >{{ words }}</p>
                          <button class="read-more-button hidden">Read more</button>
                        {% endif %}
                      </div>
                    </div>
                    
                  {% endif %}
                  <div class="Collection_product_grid_rightside_innertop_1_detail_count_new">
                    <div class="product-count-vertical light" role="status">
                      <h4 class="product-count__text text-body" id="ProductCountDesktop">
                        
                          {%- if collection.results_count -%}
                            {{
                              'templates.search.results_with_count'
                              | t: terms: collection.terms, count: collection.results_count
                            }}
                          {%- elsif collection.products_count == collection.all_products_count -%}
                            {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                          {%- else -%}
                            {{
                              'products.facets.product_count'
                              | t: product_count: collection.products_count, count: collection.all_products_count
                            }}
                          {%- endif -%}
                        
                      </h4>
                      {%- render 'loading-spinner' -%}
                    </div>
                  </div>
                </div>
              </div>
              <div class="Collection_product_grid_rightside_innertop_2_new">
                <div class="Collection_product_grid_rightside_innertop_2_detail_new">
                  <div class="Collection_product_grid_rightside_innertop_2_detail_filters_new">
                    {% render 'custom-filter' collection_type: 'default' %}
                  </div>
                  <div class="Collection_product_grid_rightside_innertop_2_detail_sorting_new">
                    <facet-filters-form class="facets facets-vertical-sort small-hide no-js-hidden">
                      <form class="facets-vertical-form" id="FacetSortForm">
                        <div class="facet-filters sorting caption">
                          <div class="facet-filters__field">
                            <h2 class="facet-filters__label caption-large text-body">
                              <label for="SortBy">Sort By</label>
                            </h2>
                            <div class="select">
                              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                              <select
                                name="sort_by"
                                class="facet-filters__sort select__select caption-large"
                                id="SortBy"
                                aria-describedby="a11y-refresh-page-message"
                              >
                                {%- for option in collection.sort_options -%}
                                  <option
                                    value="{{ option.value | escape }}"
                                    {% if option.value == sort_by %}
                                      selected="selected"
                                    {% endif %}
                                  >
                                    {{ option.name | escape }}
                                  </option>
                                {%- endfor -%}
                              </select>
                              {% render 'icon-caret' %}
                            </div>
                          </div>
                          <noscript>
                            <button type="submit" class="facets__button-no-js button button--secondary">
                              {{ 'products.facets.sort_button' | t }}
                            </button>
                          </noscript>
                        </div>
                      </form>
                    </facet-filters-form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}
          
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient">
              {% render "loader-spinner" %}
            </div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}" id="CollectionAjaxContent" data-scroll-to>
            <div class="loading-overlay gradient">
              {% render "loader-spinner" %}
            </div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="
                grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                grid--{{ section.settings.columns_desktop }}-col-desktop
              "
            >

              {%- assign selected_sizes_string = '' -%}
    
              {%- for filter in collection.filters -%}
                {%- if filter.label == 'Size' or filter.label == 'Size Options' -%}
                  {%- for value in filter.active_values -%}
                    {%- assign selected_sizes_string = selected_sizes_string | append: value.label | append: ',' -%}
                  {%- endfor -%}
                {%- endif -%}
              {%- endfor -%}
              
              {% assign ifCollectionSecondBanner = false %}
              {%- assign visible_index = 0 -%}
              {%- for product in collection.products -%}
                {%- if product.available or product.variants.first.inventory_policy == 'continue' -%}
                  {%- assign visible_index = visible_index | plus: 1 -%}
                {%- endif -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                {%- if selected_sizes_string == '' -%}
                  {%- if visible_index == 9 -%}
                    {% if collection.metafields.custom.collection_product_tile_banners.value %}
                      {% for banner in collection.metafields.custom.collection_product_tile_banners.value %}
                        {% if forloop.first %}
                          {% render 'collection-product-tile-banner', banner_image: banner.banner_image, banner_url: banner.banner_url  %}
                        {% endif %} 
                        {% if forloop.index == 2 %}
                          {% assign ifCollectionSecondBanner = true %}
                        {% endif %}
                      {% endfor %}
                    {% elsif section.settings.colletion_banner_1 != blank %}
                      {% render 'collection-product-tile-banner', banner_image: section.settings.colletion_banner_1, banner_url: section.settings.colletion_banner_1_url %}
                    {% endif %}
                  {%- endif -%}
                  {%- if visible_index == 27 -%}
                    {% if ifCollectionSecondBanner == true %}
                      {% for banner in collection.metafields.custom.collection_product_tile_banners.value %}
                        {% if forloop.index == 2 %}
                          {% render 'collection-product-tile-banner', banner_image: banner.banner_image, banner_url: banner.banner_url  %}
                        {% endif %}
                      {% endfor %}
                    {% elsif section.settings.colletion_banner_2 != blank %}
                      {% render 'collection-product-tile-banner', banner_image: section.settings.colletion_banner_2, banner_url: section.settings.colletion_banner_2_url %}
                    {% endif %}
                  {%- endif -%}
                  {%- if visible_index == 16 -%}
                     {%- if settings.mobile_middle_banner != blank -%}
                        <div class="collection-mobile-middle-banner">
                          <a href="{{  settings.mobile_middle_banner_url }}" aria-label="Live Video Shopping">
                            {% assign mainImage = settings.mobile_middle_banner | image_url %}
                            <picture>
                              <source srcset="{%- render 'imagekit', src: mainImage width: 380 %}" media="(max-width: 380px)" />
                              <source srcset="{%- render 'imagekit', src: mainImage width: 412 %}" media="(max-width: 412px)" />
                              <source srcset="{%- render 'imagekit', src: mainImage width: 500 %}" media="(max-width: 500px)" />
                              <img src="{%- render 'imagekit', src: mainImage width: 749 %}" alt="Live Video Shopping" loading="lazy" width="381" height="175" />
                            </picture>
                          </a>
                        </div>
                      {%- endif -%} 
                  {%- endif -%}
                {%- endif -%}
                
                {%- assign selected_sizes = selected_sizes_string | split: ',' -%}
                {%- assign show_product = false -%}
                
                {%- if selected_sizes_string != '' -%}
                  {%- for variant in product.variants -%}
                    {%- for size in selected_sizes -%}
                      {%- if variant.option1 == size and variant.available -%} 
                        {%- assign show_product = true -%}
                        {%- break -%}
                      {%- elsif variant.option2 == size and variant.available -%} 
                        {%- assign show_product = true -%}
                        {%- break -%}
                      {%- endif -%}
                    {%- endfor -%}
                    {%- if show_product -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                  {%- if show_product -%}
                    {%- if product.metafields.seo.hidden != 1 and product.available or product.variants.first.inventory_policy == 'continue' -%}
                      <li
                        class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                        {% if settings.animations_reveal_on_scroll %}
                          data-cascade
                          style="--animation-order: {{ forloop.index }};"
                        {% endif %}
                      >
                        {% render 'card-product',
                          card_product: product,
                          media_aspect_ratio: section.settings.image_ratio,
                          image_shape: section.settings.image_shape,
                          show_secondary_image: section.settings.show_secondary_image,
                          show_vendor: section.settings.show_vendor,
                          show_rating: section.settings.show_rating,
                          lazy_load: lazy_load,
                          show_quick_add: section.settings.enable_quick_add,
                          section_id: section.id
                        %}
                      </li>
                    {%- endif -%}
                  {%- endif -%}
              {% else %}
                {%- if product.metafields.seo.hidden != 1 and product.available or product.variants.first.inventory_policy == 'continue' -%}
                  <li
                    class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load,
                      show_quick_add: section.settings.enable_quick_add,
                      section_id: section.id
                    %}
                  </li>
                {%- endif -%}
              {% endif %}
                
              {%- endfor -%}
            </ul>

            <div class="collection_pagination_new">
              {%- assign collection_pagination = shop.metaobjects.collection_paginations.values | first -%}
              {%- assign least_pagination = collection_pagination.pagination.value[0] | times: 1 -%}
              
               {%- unless section.settings.load_more -%}
                  <div class="collection__pagination_custom">
                    {% if collection_pagination != nil and collection.all_products_count > least_pagination %}
                      <collection-pagination class="collection__pagination small-hide">
                        <span class="pagination__label">Show per pages</span>
                        <div class="pagination__grid">
                          {% for paginationKey in collection_pagination.pagination.value %}
                            <span class="pagination_item{% if paginationKey contains productsLimit %} active{% endif %}" data-products-limit="{{ paginationKey }}" js-pagination-item>{{ paginationKey }}</span>
                          {% endfor %}
                        </div>
                      </collection-pagination>
                    {% endif %}
                  </div>
               {%- endunless -%}

              <div>
                {%- unless section.settings.load_more -%}
                  
                  {%- if paginate.pages > 1 -%}
                    {% render 'pagination', paginate: paginate, anchor: '' %}
                  {%- endif -%}
                  
                {%- endunless -%}
                
                {%- if section.settings.load_more and paginate.next -%}
                    <div class="load-more-selector" products-per-page="{{ products_per_page }}" data-page-limit="{{ paginate.pages }}" data-href="{{ paginate.next.url }}" js-load-more-selector>
                      <div class="load-more-loader hidden" js-load-more-loader></div>
                    </div>
                {%- endif -%}
                
              </div>
          
              <facet-filters-form class="facets facets-vertical-sort small-hide no-js-hidden">
                <form class="facets-vertical-form" id="FacetSortForm">
                  <div class="facet-filters sorting caption">
                    <div class="facet-filters__field">
                      <h2 class="facet-filters__label caption-large text-body">
                        <label for="SortBy">Sort By</label>
                      </h2>
                      <div class="select">
                        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                        <select
                          name="sort_by"
                          class="facet-filters__sort select__select caption-large"
                          id="SortBy"
                          aria-describedby="a11y-refresh-page-message"
                        >
                          {%- for option in collection.sort_options -%}
                            <option
                              value="{{ option.value | escape }}"
                              {% if option.value == sort_by %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ option.name | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                    <noscript>
                      <button type="submit" class="facets__button-no-js button button--secondary">
                        {{ 'products.facets.sort_button' | t }}
                      </button>
                    </noscript>
                  </div>
                </form>
              </facet-filters-form>

            </div>
            
          </div>
        {%- endif -%}
      </div>
    </div>
    {%- if section.settings.load_more and paginate.next -%}
       {%- render 'load-more-pagination' -%}
   {%- endif -%} 
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Collection Product Grid",
  "class": "section Collection_product_grid_new",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 4,
      "max": 120,
      "step": 2,
      "default": 120,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "checkbox",
      "id": "load_more",
      "default": false,
      "label": "Load more button"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "==== Left Side Bottom Detail ===="
    },
    {
      "type": "header",
      "content": "== Left Side Bottom Detail-1 =="
    },
    {
      "type": "color",
      "id": "main_background_color_1",
      "label": "Add Main Background Color-1",
      "default": "#EFEFEF"
    },
    {
      "type": "image_picker",
      "id": "main_background_image_1",
      "label": "Add Main Background Image-1"
    },
    {
      "type": "video",
      "id": "main_mp4_video_1",
      "label": "Add Main MP4 Video-1"
    },
    {
      "type": "image_picker",
      "id": "main_desktop_image_1",
      "label": "Add Main Desktop Image-1"
    },
    {
      "type": "image_picker",
      "id": "main_mobile_image_1",
      "label": "Add Main Mobile Image-1"
    },
    {
      "type": "richtext",
      "id": "main_heading_text_1",
      "label": "Add Main Heading Text-1",
      "default": "<p>Shop via video call</p>"
    },
    {
      "type": "richtext",
      "id": "main_information_text_1",
      "label": "Add Main Information Text-1",
      "default": "<p>Interact with our fashion consultants, and enjoy personalised shopping experience</p>"
    },
    {
      "type": "image_picker",
      "id": "main_icon_image_1",
      "label": "Add Main Icon Image-1"
    },
    {
      "type": "text",
      "id": "main_button_text_1",
      "label": "Add Main Button Text-1",
      "default": "Book Now"
    },
    {
      "type": "url",
      "id": "main_button_link_1",
      "label": "Add Main Button Link-1",
      "default": "/"
    },
    {
      "type": "header",
      "content": "== Left Side Bottom Detail-2 =="
    },
    {
      "type": "image_picker",
      "id": "main_icon_image_2",
      "label": "Add Main Icon Image-2"
    },
    {
      "type": "text",
      "id": "main_heading_text_2",
      "label": "Add Main Heading Text-2",
      "default": "Enjoy Free Shipping"
    },
    {
      "type": "text",
      "id": "btn_text_2",
      "label": "Add Button Text-2",
      "default": "KNOW MORE"
    },
    {
      "type": "url",
      "id": "add_shipping_url",
      "label": "Add Shipping Url",
      "default": "/"
    },
    {
      "type": "header",
      "content": "== Left Side Bottom Detail-3 =="
    },
    {
      "type": "image_picker",
      "id": "main_icon_image_3",
      "label": "Add Main Icon Image-3"
    },
    {
      "type": "text",
      "id": "main_heading_text_3",
      "label": "Add Main Heading Text-3",
      "default": "5 Days Easy Returns"
    },
    {
      "type": "text",
      "id": "btn_text_3",
      "label": "Add Button Text-3",
      "default": "KNOW MORE"
    },
    {
      "type": "url",
      "id": "add_return_url",
      "label": "Add Return Url",
      "default": "/"
    },
    {
      "type": "header",
      "content": "Colletion Banners"
    },
    {
      "type": "image_picker",
      "id": "colletion_banner_1",
      "label": "Colletion banner 1"
    },
    {
      "type": "url",
      "id": "colletion_banner_1_url",
      "label": "Colletion banner 1 Url",
      "default": "/"
    },
    {
      "type": "image_picker",
      "id": "colletion_banner_2",
      "label": "Colletion banner 2"
    },
    {
      "type": "url",
      "id": "colletion_banner_2_url",
      "label": "Colletion banner 2 Url",
      "default": "/"
    },
  ]
}
{% endschema %}