{%- if section.blocks.size > 0 or section.settings.main_heading_text != blank -%}
  {{ "collection-category-lists.css" | asset_url | stylesheet_tag }}
  <div class="Collection_category_lists_main_new desktop_divshow" style="background: {{ section.settings.main_background_color }};" >
    <div class="page-width">
      <div class="Collection_category_lists_inner_new">
        {%- if section.settings.main_heading_text != blank -%}
          <div class="Common_title_new Collection_category_lists_title_new">
            <h2>{{ section.settings.main_heading_text }}</h2>
          </div>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
          <div class="Collection_category_lists_mainloop_new">
            <div class="Collection_category_lists_innerloop_new">
              <div class="swiper-container Collection_custom_category_slider collection-slider-{{ section.id }}">
                <div class="swiper-wrapper">
                  {%- for block in section.blocks -%}
                    {%- if block.settings.main_mp4_video != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank or block.settings.title != blank -%}
                      <div class="swiper-slide Collection_category_lists_innerloop_mainboxs_new">
                        {%- if block.settings.main_redirect_link != blank -%}
                          <a href="{{ block.settings.main_redirect_link }}">
                        {%- endif -%}  
                        <div class="Collection_category_lists_innerloop_innerboxs_new">
                          {%- if block.settings.main_mp4_video != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank -%}
                            <div class="Collection_category_lists_innerloop_innerboxs_1_new">
                              <div class="Collection_category_lists_innerloop_innerboxs_1_videoimageboth_new">
                                {%- if block.settings.main_mp4_video != blank -%}
                                  <div class="Collection_category_lists_innerloop_innerboxs_1_videoimage_new">
                                    {{ block.settings.main_mp4_video | video_tag: controls: false, autoplay: true, loop: true }}
                                  </div>
                                {%- else -%}  
                                  {%- if block.settings.main_desktop_image != blank and block.settings.main_mobile_image != blank -%}
                                    <div class="Collection_category_lists_innerloop_innerboxs_1_videoimage_new">
                                      {% assign main_desktop_image = block.settings.main_desktop_image  | image_url %}
                                      {% assign main_mobile_image = block.settings.main_mobile_image  | image_url %}
                                        <picture>
                                          <source srcset="{%- render 'imagekit', src: main_mobile_image width: 180 %}" media="(max-width: 749px)" type="image/avif" />
                                          <img class="image_first_slide" src="{%- render 'imagekit', src: main_desktop_image width: 180 %}" alt="{{ block.settings.alt_text }}" loading="eager" width="1438" height="539" fetchpriority="high" decoding="async" />
                                        </picture>
                                      {%- if block.settings.main_desktop_image != blank -%}
                                        {{
                                          block.settings.main_desktop_image | 
                                          image_url: width: img.width | 
                                          image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                          fetchpriority: 'auto', 
                                          class:'desktop_image_new',
                                          alt: block.settings.main_desktop_image.alt
                                        }}
                                      {%- endif -%}
                                      {%- if block.settings.main_mobile_image != blank -%}
                                        {{
                                          block.settings.main_mobile_image | 
                                          image_url: width: img.width | 
                                          image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                          fetchpriority: 'auto', 
                                          class:'mobile_image_new',
                                          alt: block.settings.main_mobile_image.alt
                                        }}
                                      {%- endif -%}
                                    </div>
                                  {%- endif -%}
                                {%- endif -%}
                              </div>
                            </div>
                          {%- endif -%}
                          {%- if block.settings.title != blank -%}
                            <div class="Collection_category_lists_innerloop_innerboxs_2_new">
                              <div class="Collection_category_lists_innerloop_innerboxs_2_titletextboth_new">
                                <h3>{{ block.settings.title }}</h3>
                              </div>
                            </div>  
                          {%- endif -%}
                        </div>
                        {%- if block.settings.main_redirect_link != blank -%}
                          </a>
                        {%- endif -%}  
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              new Swiper('.collection-slider-{{ section.id }}',{loop:!1,grabCursor:!1,spaceBetween:26,slidesPerGroup:1,slidesPerView:7,watchSlidesProgress:!0,draggable:!0,autoHeight:!1,watchOverflow:!0,threshold:10,mousewheel:{forceToAxis:!0},navigation:{nextEl:".swiper-button-next",prevEl:".swiper-button-prev",},breakpoints:{0:{slidesPerView:"auto",spaceBetween:26,},749:{slidesPerView:"auto",spaceBetween:20,},990:{slidesPerView:7,spaceBetween:26,},1200:{slidesPerView:7,spaceBetween:26,},1440:{slidesPerView:7,spaceBetween:26,}}})
            });
          </script>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%} 

{%- schema -%}
  {
    "name": "Mens Collection Category",
    "class": "Collection_category_lists_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "text",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "Shop by Category"
      }
    ],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "video",
            "id": "main_mp4_video",
            "label": "Add Main MP4 Video"
          },
          {
            "type": "image_picker",
            "id": "main_desktop_image",
            "label": "Add Main Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "main_mobile_image",
            "label": "Add Main Mobile Image"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Add Main Heading Text",
            "default": "<p>Heading</p>"
          },
          {
            "type": "url",
            "id": "main_redirect_link",
            "label": "Add Main Redirect Link",
            "default": "/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Mens Collection Category",
        "blocks": [
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          }
        ]
      }
    ]
  }
{%- endschema -%}