{%- if section.settings.main_mp4_video != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank or section.settings.main_author_detail_text != blank or section.settings.main_author_name_text != blank or section.settings.main_author_designation_text != blank -%}
  {{ 'page-collection-detail.css' | asset_url | stylesheet_tag }}
  <div class="Page_collection_detail_author_main_new" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      <div class="Page_collection_detail_author_inner_new">
        <div class="Page_collection_detail_author_leftrightboth_new">
          {%- if section.settings.main_mp4_video != blank or section.settings.main_desktop_image != blank or section.settings.main_mobile_image != blank -%}
            <div class="Page_collection_detail_author_mainleft_new">
              <div class="Page_collection_detail_author_innerleft_new">
                <div class="Page_collection_detail_author_innerleft_videoimageboth_new">
                  {%- if section.settings.main_mp4_video != blank -%}
                    <div class="Page_collection_detail_author_innerleft_videoimage_new">
                      {{ section.settings.main_mp4_video | video_tag: controls: false, autoplay: true, loop: true }}
                    </div>
                  {% else %}  
                    {%- if section.settings.main_desktop_image != blank and section.settings.main_mobile_image != blank -%}
                      <div class="Page_collection_detail_author_innerleft_videoimage_new">
                        {% assign main_desktop_image = section.settings.main_desktop_image | image_url %}
                        {% assign main_mobile_image = section.settings.main_mobile_image | image_url %}
                        <picture>
                          <source srcset="{%- render 'gumlet', src: main_mobile_image w: 380 %}" media="(max-width: 380px)" type="image/avif" />
                          <source srcset="{%- render 'gumlet', src: main_mobile_image w: 412 %}" media="(max-width: 412px)" type="image/avif" />
                          <source srcset="{%- render 'gumlet', src: main_mobile_image w: 500 %}" media="(max-width: 500px)" type="image/avif" />
                          <source srcset="{%- render 'gumlet', src: main_mobile_image w: 750 %}" media="(max-width: 748px)" type="image/avif" />
                          <img src="{%- render 'gumlet', src: main_desktop_image w: 250 %}" alt="" loading="lazy" width="172" height="172" />
                        </picture>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endif -%}
          {%- if section.settings.main_author_detail_text != blank or section.settings.main_author_name_text != blank or section.settings.main_author_designation_text != blank -%}
            <div class="Page_collection_detail_author_mainright_new">
              <div class="Page_collection_detail_author_innerright_new">
                <div class="Page_collection_detail_author_innerright_titletextboth_new">
                  {%- if section.settings.main_author_detail_text != blank -%}
                    <div class="Page_collection_detail_author_innerright_infostext_new">
                      {{ section.settings.main_author_detail_text }}
                    </div>  
                  {%- endif -%}
                  {%- if section.settings.main_author_name_text != blank -%}
                    <div class="Page_collection_detail_author_innerright_authortext_new">
                      <h4>- {{ section.settings.main_author_name_text }}</h4>
                    </div>  
                  {%- endif -%}
                  {%- if section.settings.main_author_designation_text != blank -%}
                    <div class="Page_collection_detail_author_innerright_designation_new">
                      {{ section.settings.main_author_designation_text }}
                    </div>  
                  {%- endif -%}
                </div>
              </div>  
            </div>
          {%- endif -%}
        </div>  
      </div>
    </div>
  </div>
{%- endif -%}  

{% schema %}
  {
    "name": "Collection Detail Author",
    "class": "Page_collection_detail_author_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "video",
        "id": "main_mp4_video",
        "label": "Add Main MP4 Video"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_image",
        "label": "Add Main Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_image",
        "label": "Add Main Mobile Image"
      },
      {
        "type": "richtext",
        "id": "main_author_detail_text",
        "label": "Add Main Author Detail Text",
        "default": "<p>“Give the bride of today the most experimental Indian cuts & flare and she'll totally own it. KALKI Noor is a perfect blend of femininity and elegance.”</p>"
      },
      {
        "type": "text",
        "id": "main_author_name_text",
        "label": "Add Main Author Name Text",
        "default": "Saurabh Gupta"
      },
      {
        "type": "text",
        "id": "main_author_designation_text",
        "label": "Add Main Author Designation Text",
        "default": "Founder & Director at KALKI"
      }
    ],
    "presets": [
      {
        "name": "Collection Detail Author"
      }
    ]
  }
{% endschema %}