{%- if section.settings.main_desktop_mp4_video != blank or section.settings.main_mobile_mp4_video != blank or section.settings.main_desktop_full_image != blank or section.settings.main_mobile_full_image != blank -%}
  {% style %}
    .Page_bridal_banner_button_main_new {
      position: relative;
    }
    .Page_bridal_banner_button_detail_innervideoimage_videoimage_new img {
      width: 100%;
    }
    .Page_bridal_banner_button_detail_innervideoimage_videoimage_new video {
      width: 100%;
    }
    .Page_bridal_banner_button_detail_mainbutton_new {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 46px;
    }
  {% endstyle %}
  <div class="Page_bridal_banner_button_main_new" style="background: {{ section.settings.main_full_background_color }};">
    <div class="Page_bridal_banner_button_inner_new">
      {%- if section.settings.main_banner_redirect_link != blank -%}
        <a href="{{ section.settings.main_banner_redirect_link }}">
      {%- endif -%}
        <div class="Page_bridal_banner_button_detail_new">
          {%- if section.settings.main_desktop_mp4_video != blank or section.settings.main_mobile_mp4_video != blank or section.settings.main_desktop_full_image != blank or section.settings.main_mobile_full_image != blank -%}
            <div class="Page_bridal_banner_button_detail_mainvideoimage_new">
              <div class="Page_bridal_banner_button_detail_innervideoimage_new">
                {%- if section.settings.main_desktop_mp4_video != blank and section.settings.main_mobile_mp4_video != blank -%}
                  <div class="Page_bridal_banner_button_detail_innervideoimage_videoimage_new">
                    {%- if section.settings.main_desktop_mp4_video != blank -%}
                      <video test playsinline="playsinline" autoplay="autoplay" loop="loop" class="desktop_image_new" muted="muted" preload="metadata" poster="{%- render 'imagekit', src: section.settings.main_desktop_mp4_video.preview_image width: 1920 %}">
                        <source src="{%- render 'imagekit', src: section.settings.main_desktop_mp4_video.sources[1].url %}" type="video/mp4">
                        <img src="{%- render 'imagekit', src: section.settings.main_desktop_mp4_video.preview_image width: 1920 %}" loading="lazy">
                      </video>
                    {%- endif -%}
                    {%- if section.settings.main_mobile_mp4_video != blank -%}
                      {{ section.settings.main_mobile_mp4_video | video_tag: image_size: 'master', controls: false, autoplay: true, loop: true, class: 'mobile_image_new' }}
                      <!-- <video playsinline="playsinline" autoplay="autoplay" loop="loop" class="mobile_image_new" muted="muted" preload="metadata" poster="//in.kalkifashion.com/cdn/shop/files/preview_images/faf580ef1503476a9a00cc7890e74a28.thumbnail.0000000000.jpg?v=1742213326"><source src="//in.kalkifashion.com/cdn/shop/videos/c/vp/faf580ef1503476a9a00cc7890e74a28/faf580ef1503476a9a00cc7890e74a28.HD-1080p-4.8Mbps-44309739.mp4?v=0" type="video/mp4"><img src="//in.kalkifashion.com/cdn/shop/files/preview_images/faf580ef1503476a9a00cc7890e74a28.thumbnail.0000000000.jpg?v=1742213326" loading="lazy"></video> -->
                    {%- endif -%}
                  </div>
                {% else %}  
                  {%- if section.settings.main_desktop_full_image != blank and section.settings.main_mobile_full_image != blank -%}
                    <div class="Page_bridal_banner_button_detail_innervideoimage_videoimage_new">
                      {%- if section.settings.main_desktop_full_image != blank -%}
                        {{
                          section.settings.main_desktop_full_image | 
                          image_url: width: img.width | 
                          image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                          fetchpriority: 'auto', 
                          class:'desktop_image_new'
                        }}
                      {%- endif -%}
                      {%- if section.settings.main_mobile_full_image != blank -%}
                        {{
                          section.settings.main_mobile_full_image | 
                          image_url: width: img.width | 
                          image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                          fetchpriority: 'auto', 
                          class:'mobile_image_new'
                        }}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          {%- if section.settings.main_banner_button_text != blank -%}
            <div class="Page_bridal_banner_button_detail_mainbutton_new">
              <div class="Page_bridal_banner_button_detail_innerbutton_new button button_black">
                {{ section.settings.main_banner_button_text }}
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- if section.settings.main_banner_redirect_link != blank -%}
        </a>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Page Bridal Banner Button",
    "class": "Page_bridal_banner_button_new",
    "settings": [
      {
        "type": "color",
        "id": "main_full_background_color",
        "label": "Add Main Full Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "video",
        "id": "main_desktop_mp4_video",
        "label": "Add Main Desktop MP4 Video"
      },
      {
        "type": "video",
        "id": "main_mobile_mp4_video",
        "label": "Add Main Mobile MP4 Video"
      },
      {
        "type": "image_picker",
        "id": "main_desktop_full_image",
        "label": "Add Main Desktop Full Image"
      },
      {
        "type": "image_picker",
        "id": "main_mobile_full_image",
        "label": "Add Main Mobile Full Image"
      },
      {
        "type": "text",
        "id": "main_banner_button_text",
        "label": "Add Main Banner Button Text",
        "default": "View Collection"
      },
      {
        "type": "url",
        "id": "main_banner_redirect_link",
        "label": "Add Main Banner Redirect Link",
        "default": "/"
      }
    ],
    "presets": [
      {
        "name": "Page Bridal Banner Button"
      }
    ]
  }
{% endschema %}