{%- if section.blocks.size > 0 or section.settings.main_heading_text != blank or section.settings.main_button_link != blank -%}
  <div class="Page_weaves_collections_main_new Page_rumi_collections_main_new" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      <div class="Page_weaves_collections_inner_new">
        <div class="Page_weaves_collections_leftrightboth_new">
          {%- if section.settings.main_heading_text != blank or section.settings.main_button_link != blank -%}
            <div class="Page_weaves_collections_mainleft_new Page_rumi_collections_mainleft_new">
              <div class="Page_weaves_collections_innerleft_new">
                {%- if section.settings.main_heading_text != blank -%}
                  <div class="Page_weaves_collections_innerleft_title_new">
                    {{ section.settings.main_heading_text }}
                  </div>
                {%- endif -%}
                {%- if section.settings.main_button_text != blank and section.settings.main_button_link != blank -%}
                  <div class="Page_weaves_collections_innerleft_links_new">
                    <a href="{{ section.settings.main_button_link }}" class="button button_black_square">
                      {{ section.settings.main_button_text }}
                    </a>
                  </div>  
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          {%- if section.blocks.size > 0 -%}
            <div class="Page_weaves_collections_mainright_new Page_rumi_collections_mainright_new">
              <div class="Page_weaves_collections_innerright_new">
                <div class="Page_weaves_collections_innerright_allloop_new">
                  <div class="swiper-container Page_rumi_collection_slider">
                    <div class="swiper-wrapper">
                      {%- for block in section.blocks -%}
                        {%- if block.settings.main_mp4_video != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank or block.settings.main_tags_detail_text != blank or block.settings.title != blank or block.settings.inner_button_link != blank -%}
                          <div class="swiper-slide Index_rumi_collections_allloop_mainboxs_new Page_weaves_collections_innerright_allloop_mainboxs_new">
                            {%- if block.settings.inner_button_link != blank -%}
                              <a href="{{ block.settings.inner_button_link }}">                             
                                <div class="Index_custom_collections_allloop_innerboxs_new">
                                  {%- if block.settings.main_mp4_video != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank -%}
                                    <div class="Index_custom_collections_allloop_innerboxs_1_new">
                                      <div class="Index_custom_collections_allloop_innerboxs_1_videoimageboth_new">
                                        {%- if block.settings.main_mp4_video != blank -%}
                                          <div class="Index_custom_collections_allloop_innerboxs_1_videoimage_new">
                                            {{ block.settings.main_mp4_video | video_tag: image_size: 'master', controls: false, autoplay: true, loop: true }}
                                          </div>
                                        {% else %}  
                                          {%- if block.settings.main_desktop_image != blank and block.settings.main_mobile_image != blank -%}
                                            <div class="Index_custom_collections_allloop_innerboxs_1_videoimage_new">
                                              {%- if block.settings.main_desktop_image != blank -%}
                                                {{
                                                  block.settings.main_desktop_image | 
                                                  image_url: width: img.width | 
                                                  image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                                  fetchpriority: 'auto', 
                                                  class:'desktop_image_new',
                                                  alt: block.settings.title
                                                }}
                                              {%- endif -%}
                                              {%- if block.settings.main_mobile_image != blank -%}
                                                {{
                                                  block.settings.main_mobile_image | 
                                                  image_url: width: img.width | 
                                                  image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                                  fetchpriority: 'auto', 
                                                  class:'mobile_image_new',
                                                  alt: block.settings.title
                                                }}
                                              {%- endif -%}
                                            </div>
                                          {%- endif -%}
                                        {%- endif -%}
                                      </div>
                                    </div>
                                  {%- endif -%}
                                    {%- if block.settings.title != blank -%}
                                      <span class="rumi_collection_slider_title">{{ block.settings.title }}</span>
                                      {%- endif -%}                           
                                </div>
                              </a>
                            {%- endif -%} 
                          </div>
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      /* Page_weaves_collection_slider */
      new Swiper('.Page_rumi_collection_slider', {
         loop: true, 
        slidesPerView: 1, 
        spaceBetween: 20, 
        autoplay: { 
          delay: 2000, 
          disableOnInteraction: false, 
        },
        breakpoints: { 
          640: { 
            slidesPerView: 2, 
          }, 
          768: { 
            slidesPerView: 3, 
          }, 
        }
      })
    })
  </script>
{%- endif -%} 

{% schema %}
  {
    "name": "Rumi Collections Slider",
    "class": "Page_weaves_collections_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "richtext",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "<p>Weave Silk <br>Saree Collections</p>"
      },
      {
        "type": "text",
        "id": "main_button_text",
        "label": "Add Main Button Text",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "main_button_link",
        "label": "Add Main Button Link",
        "default": "/"
      }
    ],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "video",
            "id": "main_mp4_video",
            "label": "Add Main MP4 Video"
          },
          {
            "type": "image_picker",
            "id": "main_desktop_image",
            "label": "Add Main Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "main_mobile_image",
            "label": "Add Main Mobile Image"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Add Main Heading Text"
            
          },
          {
            "type": "url",
            "id": "inner_button_link",
            "label": "Add Inner Button Link",
            "default": "/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rumi Collections Slider",
        "blocks": [
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          },
          {
            "type": "information"
          }
        ]
      }
    ]
  }
{% endschema %}