{%- if page.title != blank or page.content != blank or section.blocks.size > 0 -%}
  <div class="Page_template_main_new Page_returns_template_main_new" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      <div class="Page_template_inner_new">
        <div class="Page_template_breadcrumb_new">
          {% render 'Breadcrumb-navigation-new' %}
        </div>
        {%- if page.title != blank -%}
          <div class="Common_title_new Page_template_title_new">
            <h1>{{ page.title }}</h1>
          </div>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
          <div class="Page_returns_template_mainloop_new" style="background: {{ section.settings.inner_background_color }};">
            <div class="Page_returns_template_innerloop_new">
              {%- for block in section.blocks -%}
                {%- if block.settings.icons != blank and block.settings.title != blank -%}
                  <div class="Page_returns_template_innerloop_mainboxs_new">
                    <div class="Page_returns_template_innerloop_innerboxs_new">
                      {%- if block.settings.icons != blank -%}
                        <div class="Page_returns_template_innerloop_innerboxs_icons_new">
                          {{
                            block.settings.icons | 
                            image_url: width: img.width | 
                            image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                            fetchpriority: 'auto', 
                            class:'Icon_image_new'
                          }}
                        </div>
                      {%- endif -%}
                      {%- if block.settings.title != blank -%}
                        <div class="Page_returns_template_innerloop_innerboxs_title_new">
                          <h4>{{ block.settings.title }}</h4>
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
        {%- if page.content != blank -%}
          <div class="Page_template_maincontent_new">
            <div class="Page_template_innercontent_new">
              {{ page.content }}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}   

{% schema %}
  {
    "name": "Page Returns Template",
    "class": "Page_returns_template_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "inner_background_color",
        "label": "Add Inner Background Color",
        "default": "#F7F7F7"
      }
    ],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "image_picker",
            "id": "icons",
            "label": "Add Main Icon Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Add Main Title Text",
            "default": "Heading"
          }
        ]
      }
    ]
  }
{% endschema %}