{%- if collection.metafields.custom.plp_footer_explore_more_banners != blank or  collection.metafields.plp_footer_explore_more_banners_links != blank  -%}
  <div class="Collection_object_banners_main_new {{ section.settings.customClass }}" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      <div class="Collection_object_banners_inner_new">
        {%- if section.settings.main_heading_text != blank -%}
          <div class="Common_title_new Collection_object_banners_title_new">
            <h2>{{ section.settings.main_heading_text }}</h2>
          </div>
        {%- endif -%}
        {%- if collection.metafields.custom.plp_footer_explore_more_banners != blank -%}
          <div class="Collection_object_banners_mainloop_new">
            <div class="Collection_object_banners_innerloop_new">
              {%- for columns in collection.metafields.custom.plp_footer_explore_more_banners.value -%}
                {%- if columns.plp_footer_explore_more_banners.value != blank and columns.plp_footer_explore_more_banners_links.value != blank -%}
                  <div class="Collection_object_banners_innerloop_mainbox_new">
                    <div class="Collection_object_banners_innerloop_innerbox_new">
                      {%- if columns.plp_footer_explore_more_banners_links.value != blank -%}
                        <a href="{{ columns.plp_footer_explore_more_banners_links.value }}">
                      {%- endif -%}
                          <div class="Collection_object_banners_innerloop_innerbox_videoimageboth_new">
                            {%- if columns.plp_footer_explore_more_banners.value != blank -%}
                             
                              <div class="Collection_object_banners_innerloop_innerbox_videoimage_new">
                                {{
                                  columns.plp_footer_explore_more_banners.value | 
                                  image_url: width: img.width | 
                                  image_tag: widths: '180, 360, 540, 750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                  fetchpriority: 'auto', 
                                  class:'Hover_image_new'
                                }}
                              </div>
                            {%- endif -%}  
                          </div>
                      {%- if columns.plp_footer_explore_more_banners_links.value != blank -%}
                        </a>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}  

{% schema %}
  {
    "name": "Collection Object Banners",
    "class": "Collection_object_banners_new",
    "settings": [
      {
        "type": "textarea",
        "id": "customClass",
        "label": "Add Custom Class",
        "info": "men_collection_banner_new"
      },
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "text",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "Explore More"
      }
    ],
    "presets": [
      {
        "name": "Collection Object Banners"
      }
    ]
  }
{% endschema %}