{%- if collection.metafields.custom.plp_footer_explore_more_banners != blank   -%}
  <div class="Collection_object_banners_main_new {{ section.settings.customClass }}" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      
        {%- if section.settings.main_heading_text != blank -%}
          <div class="Common_title_new plp-explore-more-section_title">
            <h2>{{ section.settings.main_heading_text }}</h2>
          </div>
        {%- endif -%}
               
            <div class="plp-explore-more-section">
              {%- for columns in collection.metafields.custom.plp_footer_explore_more_banners.value -%}
                    <a href="{{ columns.plp_footer_explore_more_banners_links.value[forloop.index0] }}"> 
                       {% assign imagesmain = columns  | image_url %}                                 
                        <picture>                                
                          <img class="Hover_image_new" src=" {{ imagesmain }}" alt="{{ imagesmain }}" loading="eager" width="346" height="461" />
                        </picture>
                    </a>
              {%- endfor -%}
            </div>
        
      </div>
    </div>
{%- endif -%}  

{% schema %}
  {
    "name": "PLP Footer explore more",
    "class": "Collection_object_banners_new",
    "settings": [
      {
        "type": "text",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "Explore More"
      }
    ]    
  }
{% endschema %}