{%- if collection.metafields.custom.plp_footer_explore_more_banners != blank or  collection.metafields.plp_footer_explore_more_banners_links != blank  -%}
  <div class="Collection_object_banners_main_new {{ section.settings.customClass }}" style="background: {{ section.settings.main_background_color }};">
    <div class="page-width">
      
        {%- if section.settings.main_heading_text != blank -%}
          <div class="Common_title_new Collection_object_banners_title_new">
            <h2>{{ section.settings.main_heading_text }}</h2>
          </div>
        {%- endif -%}
        {%- if collection.metafields.custom.plp_footer_explore_more_banners != blank -%}          
            <div class="Collection_object_banners_innerloop_new">
              {%- for columns in collection.metafields.custom.plp_footer_explore_more_banners.value -%}
                  <div class="Collection_object_banners_innerloop_mainbox_new">
                    <div class="Collection_object_banners_innerloop_innerbox_new">
                        <a href="{{ columns.plp_footer_explore_more_banners_links.value[forloop.index0] }}">                      
                          <div class="Collection_object_banners_innerloop_innerbox_videoimageboth_new">                             
                               {% assign imagesmain = columns  | image_url %}
                                <div class="Collection_object_banners_innerloop_innerbox_videoimage_new">                                  
                                <picture>                                
                                  <img class="Hover_image_new" src=" {{ imagesmain }}" alt="{{ imagesmain.alt }}" loading="eager" width="346" height="461" />
                                </picture>
                                </div>
                             
                            </div>
                        </a>
                    </div>
                  </div>
                
              {%- endfor -%}
            </div>
        {%- endif -%}
      </div>
    </div>
{%- endif -%}  

{% schema %}
  {
    "name": "PLP Footer explore more",
    "class": "Collection_object_banners_new",
    "settings": [
      
    ]    
  }
{% endschema %}