
{%- if product.metafields.custom.product_more_styles_to_love_product_list != blank -%}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'template-collection.css' | asset_url | stylesheet_tag }}
  
  {% if section.settings.image_shape == 'blob' %}
    {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
  
  {%- if section.settings.enable_quick_add -%}
    {{ 'quick-add.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
    
  <div class="Product_meta_product_list_main_new Product_Bridal_meta_product_list_main_new" style="background: {{ section.settings.main_back_color }};">
    <div class="page-width">
      <div class="Product_meta_product_list_inner_new">
        {%- if section.settings.main_heading_text != blank -%}
          <div class="Common_title_new Product_meta_product_list_title_new">
            <h2>{{ section.settings.main_heading_text }}</h2>
          </div>
        {%- endif -%}
        {%- if product.metafields.custom.product_more_styles_to_love_product_list != blank -%}
          <div class="Product_meta_product_list_maindetail_new">
            <div class="Product_meta_product_list_innerdetail_new {% if product.metafields.custom.product_more_styles_to_love_product_list.value.count > 5 %} Product_meta_product_list_innerdetail_6_product_new {% endif %}">
              {%- assign related_products = product.metafields.custom.product_more_styles_to_love_product_list.value -%} 
              <div class="swiper-container Product_bridal_list_new">
                <div class="swiper-wrapper">
                  {%- for product in related_products limit: 6 -%}
                    <div class="swiper-slide product_grid_item_new">
                      {% render 'card-product',
                        card_product: product,
                        media_aspect_ratio: section.settings.image_ratio,
                        image_shape: section.settings.image_shape,
                        show_secondary_image: section.settings.show_secondary_image,
                        show_quick_add: section.settings.enable_quick_add,
                        section_id: section.id
                      %}
                    </div>
                  {%- endfor -%}
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>  
{%- endif -%}  

{% schema %}
  {
    "name": "Product Bridal Meta List",
    "class": "Product_meta_product_list_new",
    "settings": [
      {
        "type": "color",
        "id": "main_back_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "textarea",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "More Styles to Love"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
      },
      {
        "type": "select",
        "id": "image_shape",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.image_shape.options__1.label"
          },
          {
            "value": "arch",
            "label": "t:sections.all.image_shape.options__2.label"
          },
          {
            "value": "blob",
            "label": "t:sections.all.image_shape.options__3.label"
          },
          {
            "value": "chevronleft",
            "label": "t:sections.all.image_shape.options__4.label"
          },
          {
            "value": "chevronright",
            "label": "t:sections.all.image_shape.options__5.label"
          },
          {
            "value": "diamond",
            "label": "t:sections.all.image_shape.options__6.label"
          },
          {
            "value": "parallelogram",
            "label": "t:sections.all.image_shape.options__7.label"
          },
          {
            "value": "round",
            "label": "t:sections.all.image_shape.options__8.label"
          }
        ],
        "default": "default",
        "label": "t:sections.all.image_shape.label",
        "info": "t:sections.all.image_shape.info"
      },
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": true,
        "label": "t:sections.featured-collection.settings.show_secondary_image.label"
      },
      {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": false,
        "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
      }
    ],
    "presets": [
      {
        "name": "Product Bridal Meta List"
      }
    ]
  }
{% endschema %}