<style>
.wedding-sideBYside-banners-slider .taptoplay_allloop_mainboxs_new{width:50% !important}
  .wedding-sideBYside-banners-slider .taptoplay_allloop_mainboxs_new img{width:100% !important}
  .wedding-sideBYside-banners-slider .taptoplay_allloop_mainboxs_new a{ position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
  
   @media screen and (max-width: 749px) {
   .wedding-sideBYside-banners-slider .taptoplay_allloop_mainboxs_new{width:100% !important}
  
    }
</style>

<div class="page-width">
<div class="swiper-container wedding-sideBYside-banners-slider taptoplay_allloop_new">
            
                <div class="swiper-wrapper">
                  {%- for block in section.blocks -%}
                    {%- if block.settings.main_mp4_video != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank or block.settings.main_tags_detail_text != blank or block.settings.sub_head_text != blank or block.settings.title != blank or block.settings.main_button_link != blank -%}
                      <div class="swiper-slide taptoplay_allloop_mainboxs_new skeleton {% if block.settings.title == blank and block.settings.sub_head_text == blank %}no-content{% endif %}">
                        {%- if block.settings.main_button_link != blank -%}
                          <a href="{{ block.settings.main_button_link }}" aria-label="Shop Now {{ block.settings.title }}" title="{{ block.settings.title }}"></a>
                        {%- endif -%}  
                        <div class="taptoplay_allloop_innerboxs_new {% if block.settings.title == blank and block.settings.sub_head_text == blank %}no-content{% endif %}">
                          {%- if block.settings.main_mp4_video != blank or block.settings.main_desktop_image != blank or block.settings.main_mobile_image != blank -%}
                            <div class="taptoplay_allloop_innerboxs_1_new">
                              <div class="taptoplay_allloop_innerboxs_1_videoimageboth_new">
                                {%- if block.settings.main_mp4_video != blank -%}
                                  <div class="taptoplay_allloop_innerboxs_1_videoimage_new">
                                    {{ block.settings.main_mp4_video | video_tag: controls: false, autoplay: true, loop: true }}
                                  </div>
                                {% else %}  
                                  {%- if block.settings.main_desktop_image != blank and block.settings.main_mobile_image != blank -%}
                                    <div class="taptoplay_allloop_innerboxs_1_videoimage_new">
                                      {% assign main_desktop_image = block.settings.main_desktop_image  | image_url %}
                                      {% assign main_mobile_image = block.settings.main_mobile_image  | image_url %}
                                      <picture>
                                        <source srcset="{%- render 'gumlet', src: main_mobile_image w: 380 %}" media="(max-width: 380px)" />
                                        <source srcset="{%- render 'gumlet', src: main_mobile_image w: 412 %}" media="(max-width: 412px)" />
                                        <source srcset="{%- render 'gumlet', src: main_mobile_image w: 500 %}" media="(max-width: 500px)" />
                                        <source srcset="{%- render 'gumlet', src: main_mobile_image w: 749 %}" media="(max-width: 749px)" />
                                        <img src="{%- render 'gumlet', src: main_desktop_image w: 720 %}" alt="{{ block.settings.title }}" title="{{ block.settings.title }}" loading="lazy" width="" height="" />
                                      </picture>
                                    </div>
                                  {%- endif -%}
                                {%- endif -%}
                              </div>
                            </div>
                          {%- endif -%}
                          {%- if block.settings.main_tags_detail_text != blank -%}
                            <div class="taptoplay_allloop_innerboxs_2_tagstextsboth_new">
                              {{ block.settings.main_tags_detail_text }}
                            </div>
                          {%- endif -%}
                          {%- if block.settings.title != blank or block.settings.main_button_link != blank -%}
                            <div class="taptoplay_allloop_innerboxs_3_new">
                              <div class="taptoplay_allloop_innerboxs_3_titlebuttonboth_new">
                                {%- if block.settings.title != blank -%}
                                  <div class="taptoplay_allloop_innerboxs_3_title_new">
                                    <h2>{{ block.settings.title }}</h2>
                                  </div>  
                                {%- endif -%}
                               {%- if block.settings.sub_head_text != blank -%}
                                   <div class="taptoplay_allloop_innerboxs_3_subtitle_new">
                                      <p>{{ block.settings.sub_head_text }}</p>
                                  </div>
                                {%- endif -%}
                               
                                {%- if block.settings.main_button_text != blank and block.settings.main_button_link != blank -%}
                                  <div class="taptoplay_allloop_innerboxs_3_button_new">
                                    <a href="{{ block.settings.main_button_link }}" class="button button_white">
                                      {{ block.settings.main_button_text }}
                                    </a>
                                  </div>  
                                {%- endif -%}
                              </div>
                            </div>  
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
             
              <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
</div>

<script>
        document.addEventListener("DOMContentLoaded", function () {
                  new Swiper('.wedding-sideBYside-banners-slider',{loop:!1,grabCursor:!1,spaceBetween:18,slidesPerGroup:6,slidesPerView:6,watchSlidesProgress:!0,draggable:!0,autoHeight:!1,watchOverflow:!0,threshold:10,mousewheel:{forceToAxis:!0},navigation:{nextEl:".swiper-button-next",prevEl:".swiper-button-prev",},breakpoints:{0:{slidesPerGroup:1,slidesPerView:"auto",spaceBetween:10,},749:{slidesPerGroup:2,slidesPerView:2,spaceBetween:10,},990:{slidesPerGroup:2,slidesPerView:2,spaceBetween:10,},1200:{slidesPerGroup:2,slidesPerView:2,spaceBetween:18,},1440:{slidesPerGroup:2,slidesPerView:2,spaceBetween:18,}}})
        });
      </script>

{% schema %}
  {
    "name": "wedding sideBYside Slider",
    "settings": [],
    "blocks": [
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "video",
            "id": "main_mp4_video",
            "label": "Add Main MP4 Video"
          },
          {
            "type": "image_picker",
            "id": "main_desktop_image",
            "label": "Add Main Desktop Image"
          },
          {
            "type": "image_picker",
            "id": "main_mobile_image",
            "label": "Add Main Mobile Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Add Main Heading Text"
          },
          {
            "type": "text",
            "id": "sub_head_text",
            "label": "Add Sub Heading Text"
          },
          {
            "type": "richtext",
            "id": "main_tags_detail_text",
            "label": "Add Main Tags Detail Text",
            "info": "EX: <p>New <br>style <br>added.</p>"
          },
          {
            "type": "text",
            "id": "main_button_text",
            "label": "Add Main Button Text",
            "default": "Shop Now"
          },
          {
            "type": "url",
            "id": "main_button_link",
            "label": "Add Main Button Link",
            "default": "/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "wedding sideBYside Slider",
        "blocks": [
          {
            "type": "information"
          },
          {
            "type": "information"
          }
        ]
      }
    ]
  }
{% endschema %}